---
layout: default
---

<div class="text-center" x-data="{ tab: window.location.hash ? window.location.hash.substring(1) : 'line' }" id="tab_wrapper">
<script>
    var iconData = {{ iconsNew | safe }};
    function loadIconData() {
        return {
            search: "",
            iconData,
            get filteredIcons() {
                if (this.search === "") {
                    return this.iconData;
                }
                return this.iconData.filter((item) => {
                    return item.name
                        .toLowerCase()
                        .includes(this.search.toLowerCase());
                });
            },
        };
    }
</script>
    <div class="container mx-auto px-4" x-data="loadIconData()">

    <div class="flex mb-4">
      <input
      x-ref="searchField"
      x-model="search"
      x-on:keydown.window.prevent.slash="$refs.searchField.focus()"
      placeholder="Search for icon names e.g. 'cloud-code, book-music or textbox-clock'"
      type="search"
      class="block w-full bg-white shadow rounded px-4 py-3 dark:bg-gray-800" />
    </div>

        <div class="grid gap-4" style="grid-template-columns: repeat(auto-fill, minmax(140px, 1fr))">
          <template x-for="item in filteredIcons" :key="item">
            <div class="relative inline-flex flex-col items-center group py-4 px-2 text-sm bg-white shadow rounded dark:bg-gray-800">
              <div class="w-6 h-6 my-6" x-html="item.source"></div>
              <div class="truncate w-full mt-2 text-xs text-gray-600 dark:text-gray-400" x-text="item.namePlain"></div>
              <div class="sr-only" x-bind:id="item.namePlain" x-text="item.source"></div>
              <!-- <div x-bind:data-clipboard-target="'#' + item.namePlain" class="icon-copy-trigger hover:underline cursor-pointer font-bold transition-opacity group-hover:opacity-100 opacity-0 ">Copy SVG</div> -->
            </div>
          </template>
        </div>
    </div>
</div>