<!DOCTYPE html>
<html lang="de">
  <head>
    <!-- Cookie Consent by https://www.CookieConsent.com -->
    <script
      type="text/javascript"
      src="//www.cookieconsent.com/releases/3.1.0/cookie-consent.js"
    ></script>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function () {
        cookieconsent.run({
          notice_banner_type: "simple",
          consent_type: "express",
          palette: "dark",
          language: "en",
          website_name: "Majesticons",
        });
      });
    </script>
    <!-- Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      type="text/plain"
      cookie-consent="tracking"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-NNPNJSTNPV"
    ></script>
    <script type="text/plain" cookie-consent="tracking">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-NNPNJSTNPV');
    </script>
    <!-- end of Google Analytics-->

    <noscript
      >ePrivacy and GPDR Cookie Consent by
      <a href="https://www.CookieConsent.com/" rel="nofollow noopener"
        >Cookie Consent</a
      ></noscript
    >
    <!-- End Cookie Consent by https://www.CookieConsent.com -->

    <meta charset="UTF-8" />
    <title>{{ meta.title }}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
    />
    {% include "meta.njk" %}
    <link rel="stylesheet" href="/style.css?v={% version %}" />
    <script src="/js/alpine.js?v={% version %}"></script>
  </head>
  <body class="font-sans bg-primary-100 dark:bg-primary-900">
    {% include "header.njk" %}
    {{ content | safe }}
    {% include "footer.njk" %}

    <script type="module" async>
      import Lazyload from "https://cdn.skypack.dev/vanilla-lazyload";
      const lazyload = new Lazyload();
    </script>

    <script src="/js/clipboard.js"></script>
    <script>
      new ClipboardJS(".icon-container", {
        text: function (trigger) {
          return trigger.getAttribute("aria-label");
        },
      });
      var clipboard = new ClipboardJS(".icon-container");
    </script>
  </body>
</html>
