<footer
  class="flex items-center justify-center flex-wrap py-8 text-primary-700 dark:text-primary-300"
>
  <span class="p-2"
    >Made by
    <a
      class="underline hover:text-secondary-500"
      href="https://twitter.com/halfmage"
      target="_blank"
      >@halfmage</a
    ></span
  >
  <a class="p-2 underline hover:text-secondary-500" href="/imprint">Imprint</a>
  <a class="p-2 underline hover:text-secondary-500" href="/privacy-policy"
    >Privacy policy</a
  >
</footer>
