<div class="py-8 container mx-auto text-center px-4 flex flex-col items-center">
    <h1 class="text-5xl font-light tracking-widest uppercase">
      <a href="/">{{ meta.title }}</a>
    </h1>
    <p class="text-lg mt-4 mb-3">
      An <a class="hover:underline" href="https://github.com/halfmage/majesticons/blob/main/LICENSE" target="_blank">MIT-licensed</a>
      majestic icon-set made by <a class="hover:underline" href="https://github.com/halfmage/majesticons/blob/main/LICENSE" target="_blank">@halfmage</a>.
    </p>

  <div class="flex text-sm items-center">
    <a href="https://www.figma.com/community/file/937658831428627854/Majesticons" target="_blank" class="font-semibold  inline-flex flex-1 my-2 items-center justify-center px-4 py-2 transition-colors cursor-pointer rounded border border-gray-300 dark:border-gray-800 hover:bg-gray-100 dark:bg-gray-800 hover:border-gray-400 mx-2">
      Figma
    </a>
    <a href="https://github.com/halfmage/majesticons" target="_blank" class="font-semibold inline-flex flex-1 my-2 items-center justify-center px-4 py-2 transition-colors cursor-pointer rounded border border-gray-300 dark:border-gray-800 hover:bg-gray-100 dark:bg-gray-800 hover:border-gray-400 mx-2">
      Github
    </a>
    <button onclick="toggleDefaultTheme()" class="whitespace-nowrap theme-sun font-semibold inline-flex flex-1 my-2 items-center justify-center px-4 py-2 transition-colors cursor-pointer rounded border border-gray-300 dark:border-gray-800 hover:bg-gray-100 dark:bg-gray-800 hover:border-gray-400 mx-2">Light Mode</button>
    <button onclick="toggleSecondTheme()" class="whitespace-nowrap theme-moon font-semibold inline-flex flex-1 my-2 items-center justify-center px-4 py-2 transition-colors cursor-pointer rounded border border-gray-300 dark:border-gray-800 hover:bg-gray-100 dark:bg-gray-800 hover:border-gray-400 mx-2">Dark Mode</button>
  </div>

</div>
