<div
  class="icon-wrapper"
  style="grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))"
>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/academic-cap.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="academic-cap">
      {{ "/icons/line/academic-cap.svg" | svgContents }}
    </div>

    <div class="icon-name">academic-cap</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#academic-cap"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/adjustments.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="adjustments">
      {{ "/icons/line/adjustments.svg" | svgContents }}
    </div>

    <div class="icon-name">adjustments</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#adjustments"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/analytics.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="analytics">
      {{ "/icons/line/analytics.svg" | svgContents }}
    </div>

    <div class="icon-name">analytics</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#analytics"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/annotation.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="annotation">
      {{ "/icons/line/annotation.svg" | svgContents }}
    </div>

    <div class="icon-name">annotation</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#annotation"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/applications-add.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="applications-add">
      {{ "/icons/line/applications-add.svg" | svgContents }}
    </div>

    <div class="icon-name">applications-add</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#applications-add"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/applications.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="applications">
      {{ "/icons/line/applications.svg" | svgContents }}
    </div>

    <div class="icon-name">applications</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#applications"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/archive.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="archive">
      {{ "/icons/line/archive.svg" | svgContents }}
    </div>

    <div class="icon-name">archive</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#archive"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/arrow-circle-down.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-circle-down">
      {{ "/icons/line/arrow-circle-down.svg" | svgContents }}
    </div>

    <div class="icon-name">arrow-circle-down</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#arrow-circle-down"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/arrow-circle-left.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-circle-left">
      {{ "/icons/line/arrow-circle-left.svg" | svgContents }}
    </div>

    <div class="icon-name">arrow-circle-left</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#arrow-circle-left"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/arrow-circle-right.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-circle-right">
      {{ "/icons/line/arrow-circle-right.svg" | svgContents }}
    </div>

    <div class="icon-name">arrow-circle-right</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#arrow-circle-right"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/arrow-circle-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-circle-up">
      {{ "/icons/line/arrow-circle-up.svg" | svgContents }}
    </div>

    <div class="icon-name">arrow-circle-up</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#arrow-circle-up"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/arrow-down.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-down">
      {{ "/icons/line/arrow-down.svg" | svgContents }}
    </div>

    <div class="icon-name">arrow-down</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#arrow-down"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/arrow-left.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-left">
      {{ "/icons/line/arrow-left.svg" | svgContents }}
    </div>

    <div class="icon-name">arrow-left</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#arrow-left"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/arrow-right.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-right">
      {{ "/icons/line/arrow-right.svg" | svgContents }}
    </div>

    <div class="icon-name">arrow-right</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#arrow-right"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/arrow-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-up">
      {{ "/icons/line/arrow-up.svg" | svgContents }}
    </div>

    <div class="icon-name">arrow-up</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#arrow-up"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/arrows-expand.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrows-expand">
      {{ "/icons/line/arrows-expand.svg" | svgContents }}
    </div>

    <div class="icon-name">arrows-expand</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#arrows-expand"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/at-symbol.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="at-symbol">
      {{ "/icons/line/at-symbol.svg" | svgContents }}
    </div>

    <div class="icon-name">at-symbol</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#at-symbol"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/backspace.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="backspace">
      {{ "/icons/line/backspace.svg" | svgContents }}
    </div>

    <div class="icon-name">backspace</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#backspace"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/badge-check.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="badge-check">
      {{ "/icons/line/badge-check.svg" | svgContents }}
    </div>

    <div class="icon-name">badge-check</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#badge-check"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/ban.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="ban">
      {{ "/icons/line/ban.svg" | svgContents }}
    </div>

    <div class="icon-name">ban</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#ban"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/beaker.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="beaker">
      {{ "/icons/line/beaker.svg" | svgContents }}
    </div>

    <div class="icon-name">beaker</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#beaker"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/bell.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="bell">
      {{ "/icons/line/bell.svg" | svgContents }}
    </div>

    <div class="icon-name">bell</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#bell"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/book-open.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="book-open">
      {{ "/icons/line/book-open.svg" | svgContents }}
    </div>

    <div class="icon-name">book-open</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#book-open"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/bookmark-book.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="bookmark-book">
      {{ "/icons/line/bookmark-book.svg" | svgContents }}
    </div>

    <div class="icon-name">bookmark-book</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#bookmark-book"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/bookmark.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="bookmark">
      {{ "/icons/line/bookmark.svg" | svgContents }}
    </div>

    <div class="icon-name">bookmark</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#bookmark"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/briefcase.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="briefcase">
      {{ "/icons/line/briefcase.svg" | svgContents }}
    </div>

    <div class="icon-name">briefcase</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#briefcase"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/cake.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cake">
      {{ "/icons/line/cake.svg" | svgContents }}
    </div>

    <div class="icon-name">cake</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#cake"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/calculator.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="calculator">
      {{ "/icons/line/calculator.svg" | svgContents }}
    </div>

    <div class="icon-name">calculator</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#calculator"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/calendar.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="calendar">
      {{ "/icons/line/calendar.svg" | svgContents }}
    </div>

    <div class="icon-name">calendar</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#calendar"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/camera.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="camera">
      {{ "/icons/line/camera.svg" | svgContents }}
    </div>

    <div class="icon-name">camera</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#camera"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/cash.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cash">
      {{ "/icons/line/cash.svg" | svgContents }}
    </div>

    <div class="icon-name">cash</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#cash"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/chart-bar.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chart-bar">
      {{ "/icons/line/chart-bar.svg" | svgContents }}
    </div>

    <div class="icon-name">chart-bar</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#chart-bar"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/chart-pie.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chart-pie">
      {{ "/icons/line/chart-pie.svg" | svgContents }}
    </div>

    <div class="icon-name">chart-pie</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#chart-pie"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/chat.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chat">
      {{ "/icons/line/chat.svg" | svgContents }}
    </div>

    <div class="icon-name">chat</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#chat"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/chats.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chats">
      {{ "/icons/line/chats.svg" | svgContents }}
    </div>

    <div class="icon-name">chats</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#chats"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/check-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="check-circle">
      {{ "/icons/line/check-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">check-circle</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#check-circle"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/check.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="check">
      {{ "/icons/line/check.svg" | svgContents }}
    </div>

    <div class="icon-name">check</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#check"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/chevron-double-down.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-double-down">
      {{ "/icons/line/chevron-double-down.svg" | svgContents }}
    </div>

    <div class="icon-name">chevron-double-down</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#chevron-double-down"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/chevron-double-left.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-double-left">
      {{ "/icons/line/chevron-double-left.svg" | svgContents }}
    </div>

    <div class="icon-name">chevron-double-left</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#chevron-double-left"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/chevron-double-right.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-double-right">
      {{ "/icons/line/chevron-double-right.svg" | svgContents }}
    </div>

    <div class="icon-name">chevron-double-right</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#chevron-double-right"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/chevron-double-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-double-up">
      {{ "/icons/line/chevron-double-up.svg" | svgContents }}
    </div>

    <div class="icon-name">chevron-double-up</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#chevron-double-up"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/chevron-down.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-down">
      {{ "/icons/line/chevron-down.svg" | svgContents }}
    </div>

    <div class="icon-name">chevron-down</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#chevron-down"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/chevron-left.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-left">
      {{ "/icons/line/chevron-left.svg" | svgContents }}
    </div>

    <div class="icon-name">chevron-left</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#chevron-left"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/chevron-right.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-right">
      {{ "/icons/line/chevron-right.svg" | svgContents }}
    </div>

    <div class="icon-name">chevron-right</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#chevron-right"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/chevron-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-up">
      {{ "/icons/line/chevron-up.svg" | svgContents }}
    </div>

    <div class="icon-name">chevron-up</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#chevron-up"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/chip.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chip">
      {{ "/icons/line/chip.svg" | svgContents }}
    </div>

    <div class="icon-name">chip</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#chip"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/clipboard-check.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="clipboard-check">
      {{ "/icons/line/clipboard-check.svg" | svgContents }}
    </div>

    <div class="icon-name">clipboard-check</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#clipboard-check"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/clipboard-copy.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="clipboard-copy">
      {{ "/icons/line/clipboard-copy.svg" | svgContents }}
    </div>

    <div class="icon-name">clipboard-copy</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#clipboard-copy"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/clipboard-list.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="clipboard-list">
      {{ "/icons/line/clipboard-list.svg" | svgContents }}
    </div>

    <div class="icon-name">clipboard-list</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#clipboard-list"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/clipboard.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="clipboard">
      {{ "/icons/line/clipboard.svg" | svgContents }}
    </div>

    <div class="icon-name">clipboard</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#clipboard"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/clock.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="clock">
      {{ "/icons/line/clock.svg" | svgContents }}
    </div>

    <div class="icon-name">clock</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#clock"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/close-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="close-circle">
      {{ "/icons/line/close-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">close-circle</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#close-circle"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/close.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="close">
      {{ "/icons/line/close.svg" | svgContents }}
    </div>

    <div class="icon-name">close</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#close"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/cloud-download.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cloud-download">
      {{ "/icons/line/cloud-download.svg" | svgContents }}
    </div>

    <div class="icon-name">cloud-download</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#cloud-download"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/cloud-upload.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cloud-upload">
      {{ "/icons/line/cloud-upload.svg" | svgContents }}
    </div>

    <div class="icon-name">cloud-upload</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#cloud-upload"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/cloud.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cloud">
      {{ "/icons/line/cloud.svg" | svgContents }}
    </div>

    <div class="icon-name">cloud</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#cloud"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/code.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="code">
      {{ "/icons/line/code.svg" | svgContents }}
    </div>

    <div class="icon-name">code</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#code"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/cog.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cog">
      {{ "/icons/line/cog.svg" | svgContents }}
    </div>

    <div class="icon-name">cog</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#cog"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/collection.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="collection">
      {{ "/icons/line/collection.svg" | svgContents }}
    </div>

    <div class="icon-name">collection</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#collection"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/color-swatch.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="color-swatch">
      {{ "/icons/line/color-swatch.svg" | svgContents }}
    </div>

    <div class="icon-name">color-swatch</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#color-swatch"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/compass.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="compass">
      {{ "/icons/line/compass.svg" | svgContents }}
    </div>

    <div class="icon-name">compass</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#compass"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/contact.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="contact">
      {{ "/icons/line/contact.svg" | svgContents }}
    </div>

    <div class="icon-name">contact</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#contact"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/credit-card.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="credit-card">
      {{ "/icons/line/credit-card.svg" | svgContents }}
    </div>

    <div class="icon-name">credit-card</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#credit-card"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/cube.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cube">
      {{ "/icons/line/cube.svg" | svgContents }}
    </div>

    <div class="icon-name">cube</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#cube"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/cursor-click.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cursor-click">
      {{ "/icons/line/cursor-click.svg" | svgContents }}
    </div>

    <div class="icon-name">cursor-click</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#cursor-click"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/dashboard.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="dashboard">
      {{ "/icons/line/dashboard.svg" | svgContents }}
    </div>

    <div class="icon-name">dashboard</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#dashboard"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/database.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="database">
      {{ "/icons/line/database.svg" | svgContents }}
    </div>

    <div class="icon-name">database</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#database"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/desktop-computer.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="desktop-computer">
      {{ "/icons/line/desktop-computer.svg" | svgContents }}
    </div>

    <div class="icon-name">desktop-computer</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#desktop-computer"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/device-mobile.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="device-mobile">
      {{ "/icons/line/device-mobile.svg" | svgContents }}
    </div>

    <div class="icon-name">device-mobile</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#device-mobile"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/device-tablet.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="device-tablet">
      {{ "/icons/line/device-tablet.svg" | svgContents }}
    </div>

    <div class="icon-name">device-tablet</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#device-tablet"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/dots-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="dots-circle">
      {{ "/icons/line/dots-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">dots-circle</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#dots-circle"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/dots-horizontal.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="dots-horizontal">
      {{ "/icons/line/dots-horizontal.svg" | svgContents }}
    </div>

    <div class="icon-name">dots-horizontal</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#dots-horizontal"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/dots-vertical.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="dots-vertical">
      {{ "/icons/line/dots-vertical.svg" | svgContents }}
    </div>

    <div class="icon-name">dots-vertical</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#dots-vertical"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/duplicate.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="duplicate">
      {{ "/icons/line/duplicate.svg" | svgContents }}
    </div>

    <div class="icon-name">duplicate</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#duplicate"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/emoji-happy.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="emoji-happy">
      {{ "/icons/line/emoji-happy.svg" | svgContents }}
    </div>

    <div class="icon-name">emoji-happy</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#emoji-happy"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/emoji-sad.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="emoji-sad">
      {{ "/icons/line/emoji-sad.svg" | svgContents }}
    </div>

    <div class="icon-name">emoji-sad</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#emoji-sad"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/exclamation-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="exclamation-circle">
      {{ "/icons/line/exclamation-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">exclamation-circle</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#exclamation-circle"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/exclamation.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="exclamation">
      {{ "/icons/line/exclamation.svg" | svgContents }}
    </div>

    <div class="icon-name">exclamation</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#exclamation"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/external-link.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="external-link">
      {{ "/icons/line/external-link.svg" | svgContents }}
    </div>

    <div class="icon-name">external-link</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#external-link"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/eye-off.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="eye-off">
      {{ "/icons/line/eye-off.svg" | svgContents }}
    </div>

    <div class="icon-name">eye-off</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#eye-off"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/eye.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="eye">
      {{ "/icons/line/eye.svg" | svgContents }}
    </div>

    <div class="icon-name">eye</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#eye"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/fast-forward.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="fast-forward">
      {{ "/icons/line/fast-forward.svg" | svgContents }}
    </div>

    <div class="icon-name">fast-forward</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#fast-forward"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/file-add.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-add">
      {{ "/icons/line/file-add.svg" | svgContents }}
    </div>

    <div class="icon-name">file-add</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#file-add"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/file-download.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-download">
      {{ "/icons/line/file-download.svg" | svgContents }}
    </div>

    <div class="icon-name">file-download</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#file-download"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/file-duplicate.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-duplicate">
      {{ "/icons/line/file-duplicate.svg" | svgContents }}
    </div>

    <div class="icon-name">file-duplicate</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#file-duplicate"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/file-remove.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-remove">
      {{ "/icons/line/file-remove.svg" | svgContents }}
    </div>

    <div class="icon-name">file-remove</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#file-remove"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/file-report.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-report">
      {{ "/icons/line/file-report.svg" | svgContents }}
    </div>

    <div class="icon-name">file-report</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#file-report"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/file-search.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-search">
      {{ "/icons/line/file-search.svg" | svgContents }}
    </div>

    <div class="icon-name">file-search</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#file-search"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/file-text.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-text">
      {{ "/icons/line/file-text.svg" | svgContents }}
    </div>

    <div class="icon-name">file-text</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#file-text"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/file.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file">
      {{ "/icons/line/file.svg" | svgContents }}
    </div>

    <div class="icon-name">file</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#file"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/film.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="film">
      {{ "/icons/line/film.svg" | svgContents }}
    </div>

    <div class="icon-name">film</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#film"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/filter.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="filter">
      {{ "/icons/line/filter.svg" | svgContents }}
    </div>

    <div class="icon-name">filter</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#filter"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/fire.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="fire">
      {{ "/icons/line/fire.svg" | svgContents }}
    </div>

    <div class="icon-name">fire</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#fire"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/flag.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="flag">
      {{ "/icons/line/flag.svg" | svgContents }}
    </div>

    <div class="icon-name">flag</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#flag"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/folder-add.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="folder-add">
      {{ "/icons/line/folder-add.svg" | svgContents }}
    </div>

    <div class="icon-name">folder-add</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#folder-add"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/folder-download.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="folder-download">
      {{ "/icons/line/folder-download.svg" | svgContents }}
    </div>

    <div class="icon-name">folder-download</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#folder-download"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/folder-open.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="folder-open">
      {{ "/icons/line/folder-open.svg" | svgContents }}
    </div>

    <div class="icon-name">folder-open</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#folder-open"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/folder-remove.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="folder-remove">
      {{ "/icons/line/folder-remove.svg" | svgContents }}
    </div>

    <div class="icon-name">folder-remove</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#folder-remove"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/folder.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="folder">
      {{ "/icons/line/folder.svg" | svgContents }}
    </div>

    <div class="icon-name">folder</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#folder"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/forward.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="forward">
      {{ "/icons/line/forward.svg" | svgContents }}
    </div>

    <div class="icon-name">forward</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#forward"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/ghost.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="ghost">
      {{ "/icons/line/ghost.svg" | svgContents }}
    </div>

    <div class="icon-name">ghost</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#ghost"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/globe.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="globe">
      {{ "/icons/line/globe.svg" | svgContents }}
    </div>

    <div class="icon-name">globe</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#globe"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/hand.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="hand">
      {{ "/icons/line/hand.svg" | svgContents }}
    </div>

    <div class="icon-name">hand</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#hand"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/hashtag.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="hashtag">
      {{ "/icons/line/hashtag.svg" | svgContents }}
    </div>

    <div class="icon-name">hashtag</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#hashtag"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/heart.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="heart">
      {{ "/icons/line/heart.svg" | svgContents }}
    </div>

    <div class="icon-name">heart</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#heart"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/home.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="home">
      {{ "/icons/line/home.svg" | svgContents }}
    </div>

    <div class="icon-name">home</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#home"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/image.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="image">
      {{ "/icons/line/image.svg" | svgContents }}
    </div>

    <div class="icon-name">image</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#image"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/inbox-in.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="inbox-in">
      {{ "/icons/line/inbox-in.svg" | svgContents }}
    </div>

    <div class="icon-name">inbox-in</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#inbox-in"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/inbox.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="inbox">
      {{ "/icons/line/inbox.svg" | svgContents }}
    </div>

    <div class="icon-name">inbox</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#inbox"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/information-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="information-circle">
      {{ "/icons/line/information-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">information-circle</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#information-circle"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/key.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="key">
      {{ "/icons/line/key.svg" | svgContents }}
    </div>

    <div class="icon-name">key</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#key"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/library.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="library">
      {{ "/icons/line/library.svg" | svgContents }}
    </div>

    <div class="icon-name">library</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#library"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/light-bulb.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="light-bulb">
      {{ "/icons/line/light-bulb.svg" | svgContents }}
    </div>

    <div class="icon-name">light-bulb</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#light-bulb"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/lightning-bolt.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="lightning-bolt">
      {{ "/icons/line/lightning-bolt.svg" | svgContents }}
    </div>

    <div class="icon-name">lightning-bolt</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#lightning-bolt"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/link.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="link">
      {{ "/icons/line/link.svg" | svgContents }}
    </div>

    <div class="icon-name">link</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#link"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/location-marker.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="location-marker">
      {{ "/icons/line/location-marker.svg" | svgContents }}
    </div>

    <div class="icon-name">location-marker</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#location-marker"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/lock-closed.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="lock-closed">
      {{ "/icons/line/lock-closed.svg" | svgContents }}
    </div>

    <div class="icon-name">lock-closed</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#lock-closed"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/lock-open.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="lock-open">
      {{ "/icons/line/lock-open.svg" | svgContents }}
    </div>

    <div class="icon-name">lock-open</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#lock-open"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/login.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="login">
      {{ "/icons/line/login.svg" | svgContents }}
    </div>

    <div class="icon-name">login</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#login"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/logout.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="logout">
      {{ "/icons/line/logout.svg" | svgContents }}
    </div>

    <div class="icon-name">logout</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#logout"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/mail-open.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="mail-open">
      {{ "/icons/line/mail-open.svg" | svgContents }}
    </div>

    <div class="icon-name">mail-open</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#mail-open"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/mail.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="mail">
      {{ "/icons/line/mail.svg" | svgContents }}
    </div>

    <div class="icon-name">mail</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#mail"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/map.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="map">
      {{ "/icons/line/map.svg" | svgContents }}
    </div>

    <div class="icon-name">map</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#map"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/menu-alt.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="menu-alt">
      {{ "/icons/line/menu-alt.svg" | svgContents }}
    </div>

    <div class="icon-name">menu-alt</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#menu-alt"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/menu.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="menu">
      {{ "/icons/line/menu.svg" | svgContents }}
    </div>

    <div class="icon-name">menu</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#menu"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/message.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="message">
      {{ "/icons/line/message.svg" | svgContents }}
    </div>

    <div class="icon-name">message</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#message"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/messages.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="messages">
      {{ "/icons/line/messages.svg" | svgContents }}
    </div>

    <div class="icon-name">messages</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#messages"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/microphone.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="microphone">
      {{ "/icons/line/microphone.svg" | svgContents }}
    </div>

    <div class="icon-name">microphone</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#microphone"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/minus-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="minus-circle">
      {{ "/icons/line/minus-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">minus-circle</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#minus-circle"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/minus.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="minus">
      {{ "/icons/line/minus.svg" | svgContents }}
    </div>

    <div class="icon-name">minus</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#minus"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/moon.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="moon">
      {{ "/icons/line/moon.svg" | svgContents }}
    </div>

    <div class="icon-name">moon</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#moon"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/music-note.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="music-note">
      {{ "/icons/line/music-note.svg" | svgContents }}
    </div>

    <div class="icon-name">music-note</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#music-note"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/newspaper.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="newspaper">
      {{ "/icons/line/newspaper.svg" | svgContents }}
    </div>

    <div class="icon-name">newspaper</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#newspaper"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/paper-airplane.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="paper-airplane">
      {{ "/icons/line/paper-airplane.svg" | svgContents }}
    </div>

    <div class="icon-name">paper-airplane</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#paper-airplane"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/paper-clip.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="paper-clip">
      {{ "/icons/line/paper-clip.svg" | svgContents }}
    </div>

    <div class="icon-name">paper-clip</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#paper-clip"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/pause.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="pause">
      {{ "/icons/line/pause.svg" | svgContents }}
    </div>

    <div class="icon-name">pause</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#pause"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/pencil-alt.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="pencil-alt">
      {{ "/icons/line/pencil-alt.svg" | svgContents }}
    </div>

    <div class="icon-name">pencil-alt</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#pencil-alt"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/pencil.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="pencil">
      {{ "/icons/line/pencil.svg" | svgContents }}
    </div>

    <div class="icon-name">pencil</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#pencil"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/phone-incoming.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="phone-incoming">
      {{ "/icons/line/phone-incoming.svg" | svgContents }}
    </div>

    <div class="icon-name">phone-incoming</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#phone-incoming"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/phone-missed-call.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="phone-missed-call">
      {{ "/icons/line/phone-missed-call.svg" | svgContents }}
    </div>

    <div class="icon-name">phone-missed-call</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#phone-missed-call"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/phone-outgoing.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="phone-outgoing">
      {{ "/icons/line/phone-outgoing.svg" | svgContents }}
    </div>

    <div class="icon-name">phone-outgoing</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#phone-outgoing"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/phone.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="phone">
      {{ "/icons/line/phone.svg" | svgContents }}
    </div>

    <div class="icon-name">phone</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#phone"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/play-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="play-circle">
      {{ "/icons/line/play-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">play-circle</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#play-circle"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/plus-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="plus-circle">
      {{ "/icons/line/plus-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">plus-circle</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#plus-circle"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/plus.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="plus">
      {{ "/icons/line/plus.svg" | svgContents }}
    </div>

    <div class="icon-name">plus</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#plus"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/presentation-line.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="presentation-line">
      {{ "/icons/line/presentation-line.svg" | svgContents }}
    </div>

    <div class="icon-name">presentation-line</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#presentation-line"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/presentation-report.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="presentation-report">
      {{ "/icons/line/presentation-report.svg" | svgContents }}
    </div>

    <div class="icon-name">presentation-report</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#presentation-report"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/printer.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="printer">
      {{ "/icons/line/printer.svg" | svgContents }}
    </div>

    <div class="icon-name">printer</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#printer"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/puzzle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="puzzle">
      {{ "/icons/line/puzzle.svg" | svgContents }}
    </div>

    <div class="icon-name">puzzle</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#puzzle"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/qrcode.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="qrcode">
      {{ "/icons/line/qrcode.svg" | svgContents }}
    </div>

    <div class="icon-name">qrcode</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#qrcode"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/question-mark-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="question-mark-circle">
      {{ "/icons/line/question-mark-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">question-mark-circle</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#question-mark-circle"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/receipt-refund.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="receipt-refund">
      {{ "/icons/line/receipt-refund.svg" | svgContents }}
    </div>

    <div class="icon-name">receipt-refund</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#receipt-refund"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/receipt-text.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="receipt-text">
      {{ "/icons/line/receipt-text.svg" | svgContents }}
    </div>

    <div class="icon-name">receipt-text</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#receipt-text"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/receipt.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="receipt">
      {{ "/icons/line/receipt.svg" | svgContents }}
    </div>

    <div class="icon-name">receipt</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#receipt"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/refresh.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="refresh">
      {{ "/icons/line/refresh.svg" | svgContents }}
    </div>

    <div class="icon-name">refresh</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#refresh"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/reply-all.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="reply-all">
      {{ "/icons/line/reply-all.svg" | svgContents }}
    </div>

    <div class="icon-name">reply-all</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#reply-all"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/reply.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="reply">
      {{ "/icons/line/reply.svg" | svgContents }}
    </div>

    <div class="icon-name">reply</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#reply"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/rewind.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="rewind">
      {{ "/icons/line/rewind.svg" | svgContents }}
    </div>

    <div class="icon-name">rewind</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#rewind"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/rss.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="rss">
      {{ "/icons/line/rss.svg" | svgContents }}
    </div>

    <div class="icon-name">rss</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#rss"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/save-alt.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="save-alt">
      {{ "/icons/line/save-alt.svg" | svgContents }}
    </div>

    <div class="icon-name">save-alt</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#save-alt"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/save-as.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="save-as">
      {{ "/icons/line/save-as.svg" | svgContents }}
    </div>

    <div class="icon-name">save-as</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#save-as"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/save.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="save">
      {{ "/icons/line/save.svg" | svgContents }}
    </div>

    <div class="icon-name">save</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#save"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/scissors.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="scissors">
      {{ "/icons/line/scissors.svg" | svgContents }}
    </div>

    <div class="icon-name">scissors</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#scissors"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/scroll.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="scroll">
      {{ "/icons/line/scroll.svg" | svgContents }}
    </div>

    <div class="icon-name">scroll</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#scroll"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/search-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="search-circle">
      {{ "/icons/line/search-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">search-circle</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#search-circle"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/search-text.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="search-text">
      {{ "/icons/line/search-text.svg" | svgContents }}
    </div>

    <div class="icon-name">search-text</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#search-text"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/search.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="search">
      {{ "/icons/line/search.svg" | svgContents }}
    </div>

    <div class="icon-name">search</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#search"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/selector.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="selector">
      {{ "/icons/line/selector.svg" | svgContents }}
    </div>

    <div class="icon-name">selector</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#selector"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/server.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="server">
      {{ "/icons/line/server.svg" | svgContents }}
    </div>

    <div class="icon-name">server</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#server"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/share.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="share">
      {{ "/icons/line/share.svg" | svgContents }}
    </div>

    <div class="icon-name">share</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#share"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/shield-check.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="shield-check">
      {{ "/icons/line/shield-check.svg" | svgContents }}
    </div>

    <div class="icon-name">shield-check</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#shield-check"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/shield-exclamation.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="shield-exclamation">
      {{ "/icons/line/shield-exclamation.svg" | svgContents }}
    </div>

    <div class="icon-name">shield-exclamation</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#shield-exclamation"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/shopping-bag.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="shopping-bag">
      {{ "/icons/line/shopping-bag.svg" | svgContents }}
    </div>

    <div class="icon-name">shopping-bag</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#shopping-bag"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/shopping-cart.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="shopping-cart">
      {{ "/icons/line/shopping-cart.svg" | svgContents }}
    </div>

    <div class="icon-name">shopping-cart</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#shopping-cart"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/sort-horizontal.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="sort-horizontal">
      {{ "/icons/line/sort-horizontal.svg" | svgContents }}
    </div>

    <div class="icon-name">sort-horizontal</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#sort-horizontal"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/sort-vertical.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="sort-vertical">
      {{ "/icons/line/sort-vertical.svg" | svgContents }}
    </div>

    <div class="icon-name">sort-vertical</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#sort-vertical"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/sound-off.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="sound-off">
      {{ "/icons/line/sound-off.svg" | svgContents }}
    </div>

    <div class="icon-name">sound-off</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#sound-off"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/sound-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="sound-up">
      {{ "/icons/line/sound-up.svg" | svgContents }}
    </div>

    <div class="icon-name">sound-up</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#sound-up"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/sparkles.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="sparkles">
      {{ "/icons/line/sparkles.svg" | svgContents }}
    </div>

    <div class="icon-name">sparkles</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#sparkles"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/speakerphone.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="speakerphone">
      {{ "/icons/line/speakerphone.svg" | svgContents }}
    </div>

    <div class="icon-name">speakerphone</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#speakerphone"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/star.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="star">
      {{ "/icons/line/star.svg" | svgContents }}
    </div>

    <div class="icon-name">star</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#star"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/status-offline.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="status-offline">
      {{ "/icons/line/status-offline.svg" | svgContents }}
    </div>

    <div class="icon-name">status-offline</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#status-offline"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/status-online.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="status-online">
      {{ "/icons/line/status-online.svg" | svgContents }}
    </div>

    <div class="icon-name">status-online</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#status-online"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/stop-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="stop-circle">
      {{ "/icons/line/stop-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">stop-circle</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#stop-circle"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/sun.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="sun">
      {{ "/icons/line/sun.svg" | svgContents }}
    </div>

    <div class="icon-name">sun</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#sun"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/support.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="support">
      {{ "/icons/line/support.svg" | svgContents }}
    </div>

    <div class="icon-name">support</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#support"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/table.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="table">
      {{ "/icons/line/table.svg" | svgContents }}
    </div>

    <div class="icon-name">table</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#table"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/tag.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="tag">
      {{ "/icons/line/tag.svg" | svgContents }}
    </div>

    <div class="icon-name">tag</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#tag"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/terminal.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="terminal">
      {{ "/icons/line/terminal.svg" | svgContents }}
    </div>

    <div class="icon-name">terminal</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#terminal"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/thumb-down.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="thumb-down">
      {{ "/icons/line/thumb-down.svg" | svgContents }}
    </div>

    <div class="icon-name">thumb-down</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#thumb-down"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/thumb-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="thumb-up">
      {{ "/icons/line/thumb-up.svg" | svgContents }}
    </div>

    <div class="icon-name">thumb-up</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#thumb-up"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/ticket.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="ticket">
      {{ "/icons/line/ticket.svg" | svgContents }}
    </div>

    <div class="icon-name">ticket</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#ticket"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/translate.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="translate">
      {{ "/icons/line/translate.svg" | svgContents }}
    </div>

    <div class="icon-name">translate</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#translate"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/trash.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="trash">
      {{ "/icons/line/trash.svg" | svgContents }}
    </div>

    <div class="icon-name">trash</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#trash"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/trending-down.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="trending-down">
      {{ "/icons/line/trending-down.svg" | svgContents }}
    </div>

    <div class="icon-name">trending-down</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#trending-down"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/trending-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="trending-up">
      {{ "/icons/line/trending-up.svg" | svgContents }}
    </div>

    <div class="icon-name">trending-up</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#trending-up"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/truck.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="truck">
      {{ "/icons/line/truck.svg" | svgContents }}
    </div>

    <div class="icon-name">truck</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#truck"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/user-add.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="user-add">
      {{ "/icons/line/user-add.svg" | svgContents }}
    </div>

    <div class="icon-name">user-add</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#user-add"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/user-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="user-circle">
      {{ "/icons/line/user-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">user-circle</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#user-circle"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/user-group.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="user-group relative">
      {{ "/icons/line/user-group.svg" | svgContents }}
    </div>

    <div class="icon-name">user-group</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#user-group"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/user-remove.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="user-remove">
      {{ "/icons/line/user-remove.svg" | svgContents }}
    </div>

    <div class="icon-name">user-remove</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#user-remove"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/user.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="user">
      {{ "/icons/line/user.svg" | svgContents }}
    </div>

    <div class="icon-name">user</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#user"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/users.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="users">
      {{ "/icons/line/users.svg" | svgContents }}
    </div>

    <div class="icon-name">users</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#users"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/video-camera.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="video-camera">
      {{ "/icons/line/video-camera.svg" | svgContents }}
    </div>

    <div class="icon-name">video-camera</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#video-camera"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/view-boards.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="view-boards">
      {{ "/icons/line/view-boards.svg" | svgContents }}
    </div>

    <div class="icon-name">view-boards</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#view-boards"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/view-grid.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="view-grid">
      {{ "/icons/line/view-grid.svg" | svgContents }}
    </div>

    <div class="icon-name">view-grid</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#view-grid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/view-list.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="view-list">
      {{ "/icons/line/view-list.svg" | svgContents }}
    </div>

    <div class="icon-name">view-list</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#view-list"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/wifi.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="wifi">
      {{ "/icons/line/wifi.svg" | svgContents }}
    </div>

    <div class="icon-name">wifi</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#wifi"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/zoom-in.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="zoom-in">
      {{ "/icons/line/zoom-in.svg" | svgContents }}
    </div>

    <div class="icon-name">zoom-in</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#zoom-in"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/line/zoom-out.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="zoom-out">
      {{ "/icons/line/zoom-out.svg" | svgContents }}
    </div>

    <div class="icon-name">zoom-out</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#zoom-out"
    >
      Copy SVG
    </div>
  </div>
</div>
