<div
  class="grid gap-2 text-center text-xs leading-4 col-start-1 row-start-2 text-gray-700"
  style="grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))"
>
  <div class="icon-container group" data-clipboard-target="#academic-cap">
    <div class="mb-4">
      {{ "/icons/line/academic-cap.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="academic-cap">
      {{ "/icons/line/academic-cap.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">academic-cap</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#adjustments">
    <div class="mb-4">
      {{ "/icons/line/adjustments.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="adjustments">
      {{ "/icons/line/adjustments.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">adjustments</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#analytics">
    <div class="mb-4">
      {{ "/icons/line/analytics.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="analytics">
      {{ "/icons/line/analytics.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">analytics</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#annotation">
    <div class="mb-4">
      {{ "/icons/line/annotation.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="annotation">
      {{ "/icons/line/annotation.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">annotation</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#applications-add">
    <div class="mb-4">
      {{ "/icons/line/applications-add.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="applications-add">
      {{ "/icons/line/applications-add.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">applications-add</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#applications">
    <div class="mb-4">
      {{ "/icons/line/applications.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="applications">
      {{ "/icons/line/applications.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">applications</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#archive">
    <div class="mb-4">
      {{ "/icons/line/archive.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="archive">
      {{ "/icons/line/archive.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">archive</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#arrow-circle-down">
    <div class="mb-4">
      {{ "/icons/line/arrow-circle-down.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-circle-down">
      {{ "/icons/line/arrow-circle-down.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">arrow-circle-down</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#arrow-circle-left">
    <div class="mb-4">
      {{ "/icons/line/arrow-circle-left.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-circle-left">
      {{ "/icons/line/arrow-circle-left.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">arrow-circle-left</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#arrow-circle-right">
    <div class="mb-4">
      {{ "/icons/line/arrow-circle-right.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-circle-right">
      {{ "/icons/line/arrow-circle-right.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">arrow-circle-right</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#arrow-circle-up">
    <div class="mb-4">
      {{ "/icons/line/arrow-circle-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-circle-up">
      {{ "/icons/line/arrow-circle-up.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">arrow-circle-up</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#arrow-down">
    <div class="mb-4">
      {{ "/icons/line/arrow-down.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-down">
      {{ "/icons/line/arrow-down.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">arrow-down</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#arrow-left">
    <div class="mb-4">
      {{ "/icons/line/arrow-left.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-left">
      {{ "/icons/line/arrow-left.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">arrow-left</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#arrow-right">
    <div class="mb-4">
      {{ "/icons/line/arrow-right.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-right">
      {{ "/icons/line/arrow-right.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">arrow-right</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#arrow-up">
    <div class="mb-4">
      {{ "/icons/line/arrow-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-up">
      {{ "/icons/line/arrow-up.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">arrow-up</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#arrows-expand">
    <div class="mb-4">
      {{ "/icons/line/arrows-expand.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrows-expand">
      {{ "/icons/line/arrows-expand.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">arrows-expand</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#at-symbol">
    <div class="mb-4">
      {{ "/icons/line/at-symbol.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="at-symbol">
      {{ "/icons/line/at-symbol.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">at-symbol</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#backspace">
    <div class="mb-4">
      {{ "/icons/line/backspace.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="backspace">
      {{ "/icons/line/backspace.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">backspace</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#badge-check">
    <div class="mb-4">
      {{ "/icons/line/badge-check.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="badge-check">
      {{ "/icons/line/badge-check.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">badge-check</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#ban">
    <div class="mb-4">
      {{ "/icons/line/ban.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="ban">
      {{ "/icons/line/ban.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">ban</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#beaker">
    <div class="mb-4">
      {{ "/icons/line/beaker.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="beaker">
      {{ "/icons/line/beaker.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">beaker</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#bell">
    <div class="mb-4">
      {{ "/icons/line/bell.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="bell">
      {{ "/icons/line/bell.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">bell</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#book-open">
    <div class="mb-4">
      {{ "/icons/line/book-open.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="book-open">
      {{ "/icons/line/book-open.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">book-open</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#bookmark-book">
    <div class="mb-4">
      {{ "/icons/line/bookmark-book.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="bookmark-book">
      {{ "/icons/line/bookmark-book.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">bookmark-book</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#bookmark">
    <div class="mb-4">
      {{ "/icons/line/bookmark.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="bookmark">
      {{ "/icons/line/bookmark.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">bookmark</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#briefcase">
    <div class="mb-4">
      {{ "/icons/line/briefcase.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="briefcase">
      {{ "/icons/line/briefcase.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">briefcase</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#cake">
    <div class="mb-4">
      {{ "/icons/line/cake.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cake">
      {{ "/icons/line/cake.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">cake</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#calculator">
    <div class="mb-4">
      {{ "/icons/line/calculator.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="calculator">
      {{ "/icons/line/calculator.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">calculator</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#calendar">
    <div class="mb-4">
      {{ "/icons/line/calendar.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="calendar">
      {{ "/icons/line/calendar.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">calendar</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#camera">
    <div class="mb-4">
      {{ "/icons/line/camera.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="camera">
      {{ "/icons/line/camera.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">camera</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#cash">
    <div class="mb-4">
      {{ "/icons/line/cash.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cash">
      {{ "/icons/line/cash.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">cash</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#chart-bar">
    <div class="mb-4">
      {{ "/icons/line/chart-bar.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chart-bar">
      {{ "/icons/line/chart-bar.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">chart-bar</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#chart-pie">
    <div class="mb-4">
      {{ "/icons/line/chart-pie.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chart-pie">
      {{ "/icons/line/chart-pie.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">chart-pie</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#chat">
    <div class="mb-4">
      {{ "/icons/line/chat.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chat">
      {{ "/icons/line/chat.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">chat</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#chats">
    <div class="mb-4">
      {{ "/icons/line/chats.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chats">
      {{ "/icons/line/chats.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">chats</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#check-circle">
    <div class="mb-4">
      {{ "/icons/line/check-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="check-circle">
      {{ "/icons/line/check-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">check-circle</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#check">
    <div class="mb-4">
      {{ "/icons/line/check.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="check">
      {{ "/icons/line/check.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">check</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div
    class="icon-container group"
    data-clipboard-target="#chevron-double-down"
  >
    <div class="mb-4">
      {{ "/icons/line/chevron-double-down.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-double-down">
      {{ "/icons/line/chevron-double-down.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">chevron-double-down</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div
    class="icon-container group"
    data-clipboard-target="#chevron-double-left"
  >
    <div class="mb-4">
      {{ "/icons/line/chevron-double-left.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-double-left">
      {{ "/icons/line/chevron-double-left.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">chevron-double-left</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div
    class="icon-container group"
    data-clipboard-target="#chevron-double-right"
  >
    <div class="mb-4">
      {{ "/icons/line/chevron-double-right.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-double-right">
      {{ "/icons/line/chevron-double-right.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">chevron-double-right</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#chevron-double-up">
    <div class="mb-4">
      {{ "/icons/line/chevron-double-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-double-up">
      {{ "/icons/line/chevron-double-up.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">chevron-double-up</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#chevron-down">
    <div class="mb-4">
      {{ "/icons/line/chevron-down.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-down">
      {{ "/icons/line/chevron-down.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">chevron-down</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#chevron-left">
    <div class="mb-4">
      {{ "/icons/line/chevron-left.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-left">
      {{ "/icons/line/chevron-left.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">chevron-left</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#chevron-right">
    <div class="mb-4">
      {{ "/icons/line/chevron-right.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-right">
      {{ "/icons/line/chevron-right.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">chevron-right</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#chevron-up">
    <div class="mb-4">
      {{ "/icons/line/chevron-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-up">
      {{ "/icons/line/chevron-up.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">chevron-up</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#chip">
    <div class="mb-4">
      {{ "/icons/line/chip.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chip">
      {{ "/icons/line/chip.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">chip</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#clipboard-check">
    <div class="mb-4">
      {{ "/icons/line/clipboard-check.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="clipboard-check">
      {{ "/icons/line/clipboard-check.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">clipboard-check</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#clipboard-copy">
    <div class="mb-4">
      {{ "/icons/line/clipboard-copy.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="clipboard-copy">
      {{ "/icons/line/clipboard-copy.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">clipboard-copy</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#clipboard-list">
    <div class="mb-4">
      {{ "/icons/line/clipboard-list.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="clipboard-list">
      {{ "/icons/line/clipboard-list.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">clipboard-list</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#clipboard">
    <div class="mb-4">
      {{ "/icons/line/clipboard.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="clipboard">
      {{ "/icons/line/clipboard.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">clipboard</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#clock">
    <div class="mb-4">
      {{ "/icons/line/clock.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="clock">
      {{ "/icons/line/clock.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">clock</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#close-circle">
    <div class="mb-4">
      {{ "/icons/line/close-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="close-circle">
      {{ "/icons/line/close-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">close-circle</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#close">
    <div class="mb-4">
      {{ "/icons/line/close.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="close">
      {{ "/icons/line/close.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">close</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#cloud-download">
    <div class="mb-4">
      {{ "/icons/line/cloud-download.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cloud-download">
      {{ "/icons/line/cloud-download.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">cloud-download</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#cloud-upload">
    <div class="mb-4">
      {{ "/icons/line/cloud-upload.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cloud-upload">
      {{ "/icons/line/cloud-upload.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">cloud-upload</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#cloud">
    <div class="mb-4">
      {{ "/icons/line/cloud.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cloud">
      {{ "/icons/line/cloud.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">cloud</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#code">
    <div class="mb-4">
      {{ "/icons/line/code.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="code">
      {{ "/icons/line/code.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">code</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#cog">
    <div class="mb-4">
      {{ "/icons/line/cog.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cog">
      {{ "/icons/line/cog.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">cog</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#collection">
    <div class="mb-4">
      {{ "/icons/line/collection.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="collection">
      {{ "/icons/line/collection.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">collection</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#color-swatch">
    <div class="mb-4">
      {{ "/icons/line/color-swatch.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="color-swatch">
      {{ "/icons/line/color-swatch.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">color-swatch</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#compass">
    <div class="mb-4">
      {{ "/icons/line/compass.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="compass">
      {{ "/icons/line/compass.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">compass</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#contact">
    <div class="mb-4">
      {{ "/icons/line/contact.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="contact">
      {{ "/icons/line/contact.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">contact</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#credit-card">
    <div class="mb-4">
      {{ "/icons/line/credit-card.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="credit-card">
      {{ "/icons/line/credit-card.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">credit-card</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#cube">
    <div class="mb-4">
      {{ "/icons/line/cube.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cube">
      {{ "/icons/line/cube.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">cube</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#cursor-click">
    <div class="mb-4">
      {{ "/icons/line/cursor-click.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cursor-click">
      {{ "/icons/line/cursor-click.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">cursor-click</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#dashboard">
    <div class="mb-4">
      {{ "/icons/line/dashboard.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="dashboard">
      {{ "/icons/line/dashboard.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">dashboard</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#database">
    <div class="mb-4">
      {{ "/icons/line/database.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="database">
      {{ "/icons/line/database.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">database</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#desktop-computer">
    <div class="mb-4">
      {{ "/icons/line/desktop-computer.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="desktop-computer">
      {{ "/icons/line/desktop-computer.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">desktop-computer</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#device-mobile">
    <div class="mb-4">
      {{ "/icons/line/device-mobile.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="device-mobile">
      {{ "/icons/line/device-mobile.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">device-mobile</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#device-tablet">
    <div class="mb-4">
      {{ "/icons/line/device-tablet.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="device-tablet">
      {{ "/icons/line/device-tablet.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">device-tablet</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#dots-circle">
    <div class="mb-4">
      {{ "/icons/line/dots-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="dots-circle">
      {{ "/icons/line/dots-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">dots-circle</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#dots-horizontal">
    <div class="mb-4">
      {{ "/icons/line/dots-horizontal.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="dots-horizontal">
      {{ "/icons/line/dots-horizontal.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">dots-horizontal</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#dots-vertical">
    <div class="mb-4">
      {{ "/icons/line/dots-vertical.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="dots-vertical">
      {{ "/icons/line/dots-vertical.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">dots-vertical</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#duplicate">
    <div class="mb-4">
      {{ "/icons/line/duplicate.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="duplicate">
      {{ "/icons/line/duplicate.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">duplicate</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#emoji-happy">
    <div class="mb-4">
      {{ "/icons/line/emoji-happy.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="emoji-happy">
      {{ "/icons/line/emoji-happy.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">emoji-happy</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#emoji-sad">
    <div class="mb-4">
      {{ "/icons/line/emoji-sad.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="emoji-sad">
      {{ "/icons/line/emoji-sad.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">emoji-sad</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#exclamation-circle">
    <div class="mb-4">
      {{ "/icons/line/exclamation-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="exclamation-circle">
      {{ "/icons/line/exclamation-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">exclamation-circle</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#exclamation">
    <div class="mb-4">
      {{ "/icons/line/exclamation.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="exclamation">
      {{ "/icons/line/exclamation.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">exclamation</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#external-link">
    <div class="mb-4">
      {{ "/icons/line/external-link.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="external-link">
      {{ "/icons/line/external-link.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">external-link</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#eye-off">
    <div class="mb-4">
      {{ "/icons/line/eye-off.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="eye-off">
      {{ "/icons/line/eye-off.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">eye-off</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#eye">
    <div class="mb-4">
      {{ "/icons/line/eye.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="eye">
      {{ "/icons/line/eye.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">eye</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#fast-forward">
    <div class="mb-4">
      {{ "/icons/line/fast-forward.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="fast-forward">
      {{ "/icons/line/fast-forward.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">fast-forward</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#file-add">
    <div class="mb-4">
      {{ "/icons/line/file-add.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-add">
      {{ "/icons/line/file-add.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">file-add</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#file-download">
    <div class="mb-4">
      {{ "/icons/line/file-download.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-download">
      {{ "/icons/line/file-download.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">file-download</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#file-duplicate">
    <div class="mb-4">
      {{ "/icons/line/file-duplicate.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-duplicate">
      {{ "/icons/line/file-duplicate.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">file-duplicate</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#file-remove">
    <div class="mb-4">
      {{ "/icons/line/file-remove.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-remove">
      {{ "/icons/line/file-remove.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">file-remove</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#file-report">
    <div class="mb-4">
      {{ "/icons/line/file-report.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-report">
      {{ "/icons/line/file-report.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">file-report</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#file-search">
    <div class="mb-4">
      {{ "/icons/line/file-search.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-search">
      {{ "/icons/line/file-search.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">file-search</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#file-text">
    <div class="mb-4">
      {{ "/icons/line/file-text.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-text">
      {{ "/icons/line/file-text.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">file-text</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#file">
    <div class="mb-4">
      {{ "/icons/line/file.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file">
      {{ "/icons/line/file.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">file</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#film">
    <div class="mb-4">
      {{ "/icons/line/film.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="film">
      {{ "/icons/line/film.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">film</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#filter">
    <div class="mb-4">
      {{ "/icons/line/filter.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="filter">
      {{ "/icons/line/filter.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">filter</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#fire">
    <div class="mb-4">
      {{ "/icons/line/fire.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="fire">
      {{ "/icons/line/fire.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">fire</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#flag">
    <div class="mb-4">
      {{ "/icons/line/flag.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="flag">
      {{ "/icons/line/flag.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">flag</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#folder-add">
    <div class="mb-4">
      {{ "/icons/line/folder-add.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="folder-add">
      {{ "/icons/line/folder-add.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">folder-add</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#folder-download">
    <div class="mb-4">
      {{ "/icons/line/folder-download.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="folder-download">
      {{ "/icons/line/folder-download.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">folder-download</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#folder-open">
    <div class="mb-4">
      {{ "/icons/line/folder-open.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="folder-open">
      {{ "/icons/line/folder-open.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">folder-open</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#folder-remove">
    <div class="mb-4">
      {{ "/icons/line/folder-remove.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="folder-remove">
      {{ "/icons/line/folder-remove.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">folder-remove</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#folder">
    <div class="mb-4">
      {{ "/icons/line/folder.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="folder">
      {{ "/icons/line/folder.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">folder</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#forward">
    <div class="mb-4">
      {{ "/icons/line/forward.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="forward">
      {{ "/icons/line/forward.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">forward</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#ghost">
    <div class="mb-4">
      {{ "/icons/line/ghost.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="ghost">
      {{ "/icons/line/ghost.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">ghost</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#globe">
    <div class="mb-4">
      {{ "/icons/line/globe.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="globe">
      {{ "/icons/line/globe.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">globe</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#hand">
    <div class="mb-4">
      {{ "/icons/line/hand.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="hand">
      {{ "/icons/line/hand.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">hand</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#hashtag">
    <div class="mb-4">
      {{ "/icons/line/hashtag.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="hashtag">
      {{ "/icons/line/hashtag.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">hashtag</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#heart">
    <div class="mb-4">
      {{ "/icons/line/heart.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="heart">
      {{ "/icons/line/heart.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">heart</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#home">
    <div class="mb-4">
      {{ "/icons/line/home.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="home">
      {{ "/icons/line/home.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">home</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#image">
    <div class="mb-4">
      {{ "/icons/line/image.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="image">
      {{ "/icons/line/image.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">image</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#inbox-in">
    <div class="mb-4">
      {{ "/icons/line/inbox-in.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="inbox-in">
      {{ "/icons/line/inbox-in.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">inbox-in</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#inbox">
    <div class="mb-4">
      {{ "/icons/line/inbox.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="inbox">
      {{ "/icons/line/inbox.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">inbox</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#information-circle">
    <div class="mb-4">
      {{ "/icons/line/information-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="information-circle">
      {{ "/icons/line/information-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">information-circle</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#key">
    <div class="mb-4">
      {{ "/icons/line/key.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="key">
      {{ "/icons/line/key.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">key</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#library">
    <div class="mb-4">
      {{ "/icons/line/library.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="library">
      {{ "/icons/line/library.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">library</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#light-bulb">
    <div class="mb-4">
      {{ "/icons/line/light-bulb.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="light-bulb">
      {{ "/icons/line/light-bulb.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">light-bulb</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#lightning-bolt">
    <div class="mb-4">
      {{ "/icons/line/lightning-bolt.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="lightning-bolt">
      {{ "/icons/line/lightning-bolt.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">lightning-bolt</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#link">
    <div class="mb-4">
      {{ "/icons/line/link.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="link">
      {{ "/icons/line/link.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">link</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#location-marker">
    <div class="mb-4">
      {{ "/icons/line/location-marker.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="location-marker">
      {{ "/icons/line/location-marker.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">location-marker</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#lock-closed">
    <div class="mb-4">
      {{ "/icons/line/lock-closed.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="lock-closed">
      {{ "/icons/line/lock-closed.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">lock-closed</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#lock-open">
    <div class="mb-4">
      {{ "/icons/line/lock-open.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="lock-open">
      {{ "/icons/line/lock-open.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">lock-open</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#login">
    <div class="mb-4">
      {{ "/icons/line/login.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="login">
      {{ "/icons/line/login.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">login</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#logout">
    <div class="mb-4">
      {{ "/icons/line/logout.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="logout">
      {{ "/icons/line/logout.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">logout</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#mail-open">
    <div class="mb-4">
      {{ "/icons/line/mail-open.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="mail-open">
      {{ "/icons/line/mail-open.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">mail-open</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#mail">
    <div class="mb-4">
      {{ "/icons/line/mail.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="mail">
      {{ "/icons/line/mail.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">mail</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#map">
    <div class="mb-4">
      {{ "/icons/line/map.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="map">
      {{ "/icons/line/map.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">map</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#menu-alt">
    <div class="mb-4">
      {{ "/icons/line/menu-alt.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="menu-alt">
      {{ "/icons/line/menu-alt.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">menu-alt</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#menu">
    <div class="mb-4">
      {{ "/icons/line/menu.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="menu">
      {{ "/icons/line/menu.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">menu</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#message">
    <div class="mb-4">
      {{ "/icons/line/message.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="message">
      {{ "/icons/line/message.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">message</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#messages">
    <div class="mb-4">
      {{ "/icons/line/messages.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="messages">
      {{ "/icons/line/messages.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">messages</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#microphone">
    <div class="mb-4">
      {{ "/icons/line/microphone.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="microphone">
      {{ "/icons/line/microphone.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">microphone</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#minus-circle">
    <div class="mb-4">
      {{ "/icons/line/minus-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="minus-circle">
      {{ "/icons/line/minus-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">minus-circle</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#minus">
    <div class="mb-4">
      {{ "/icons/line/minus.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="minus">
      {{ "/icons/line/minus.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">minus</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#moon">
    <div class="mb-4">
      {{ "/icons/line/moon.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="moon">
      {{ "/icons/line/moon.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">moon</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#music-note">
    <div class="mb-4">
      {{ "/icons/line/music-note.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="music-note">
      {{ "/icons/line/music-note.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">music-note</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#newspaper">
    <div class="mb-4">
      {{ "/icons/line/newspaper.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="newspaper">
      {{ "/icons/line/newspaper.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">newspaper</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#paper-airplane">
    <div class="mb-4">
      {{ "/icons/line/paper-airplane.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="paper-airplane">
      {{ "/icons/line/paper-airplane.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">paper-airplane</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#paper-clip">
    <div class="mb-4">
      {{ "/icons/line/paper-clip.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="paper-clip">
      {{ "/icons/line/paper-clip.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">paper-clip</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#pause">
    <div class="mb-4">
      {{ "/icons/line/pause.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="pause">
      {{ "/icons/line/pause.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">pause</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#pencil-alt">
    <div class="mb-4">
      {{ "/icons/line/pencil-alt.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="pencil-alt">
      {{ "/icons/line/pencil-alt.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">pencil-alt</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#pencil">
    <div class="mb-4">
      {{ "/icons/line/pencil.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="pencil">
      {{ "/icons/line/pencil.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">pencil</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#phone-incoming">
    <div class="mb-4">
      {{ "/icons/line/phone-incoming.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="phone-incoming">
      {{ "/icons/line/phone-incoming.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">phone-incoming</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#phone-missed-call">
    <div class="mb-4">
      {{ "/icons/line/phone-missed-call.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="phone-missed-call">
      {{ "/icons/line/phone-missed-call.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">phone-missed-call</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#phone-outgoing">
    <div class="mb-4">
      {{ "/icons/line/phone-outgoing.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="phone-outgoing">
      {{ "/icons/line/phone-outgoing.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">phone-outgoing</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#phone">
    <div class="mb-4">
      {{ "/icons/line/phone.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="phone">
      {{ "/icons/line/phone.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">phone</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#play-circle">
    <div class="mb-4">
      {{ "/icons/line/play-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="play-circle">
      {{ "/icons/line/play-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">play-circle</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#plus-circle">
    <div class="mb-4">
      {{ "/icons/line/plus-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="plus-circle">
      {{ "/icons/line/plus-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">plus-circle</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#plus">
    <div class="mb-4">
      {{ "/icons/line/plus.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="plus">
      {{ "/icons/line/plus.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">plus</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#presentation-line">
    <div class="mb-4">
      {{ "/icons/line/presentation-line.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="presentation-line">
      {{ "/icons/line/presentation-line.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">presentation-line</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div
    class="icon-container group"
    data-clipboard-target="#presentation-report"
  >
    <div class="mb-4">
      {{ "/icons/line/presentation-report.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="presentation-report">
      {{ "/icons/line/presentation-report.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">presentation-report</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#printer">
    <div class="mb-4">
      {{ "/icons/line/printer.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="printer">
      {{ "/icons/line/printer.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">printer</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#puzzle">
    <div class="mb-4">
      {{ "/icons/line/puzzle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="puzzle">
      {{ "/icons/line/puzzle.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">puzzle</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#qrcode">
    <div class="mb-4">
      {{ "/icons/line/qrcode.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="qrcode">
      {{ "/icons/line/qrcode.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">qrcode</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div
    class="icon-container group"
    data-clipboard-target="#question-mark-circle"
  >
    <div class="mb-4">
      {{ "/icons/line/question-mark-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="question-mark-circle">
      {{ "/icons/line/question-mark-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">question-mark-circle</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#receipt-refund">
    <div class="mb-4">
      {{ "/icons/line/receipt-refund.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="receipt-refund">
      {{ "/icons/line/receipt-refund.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">receipt-refund</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#receipt-text">
    <div class="mb-4">
      {{ "/icons/line/receipt-text.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="receipt-text">
      {{ "/icons/line/receipt-text.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">receipt-text</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#receipt">
    <div class="mb-4">
      {{ "/icons/line/receipt.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="receipt">
      {{ "/icons/line/receipt.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">receipt</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#refresh">
    <div class="mb-4">
      {{ "/icons/line/refresh.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="refresh">
      {{ "/icons/line/refresh.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">refresh</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#reply-all">
    <div class="mb-4">
      {{ "/icons/line/reply-all.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="reply-all">
      {{ "/icons/line/reply-all.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">reply-all</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#reply">
    <div class="mb-4">
      {{ "/icons/line/reply.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="reply">
      {{ "/icons/line/reply.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">reply</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#rewind">
    <div class="mb-4">
      {{ "/icons/line/rewind.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="rewind">
      {{ "/icons/line/rewind.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">rewind</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#rss">
    <div class="mb-4">
      {{ "/icons/line/rss.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="rss">
      {{ "/icons/line/rss.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">rss</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#save-alt">
    <div class="mb-4">
      {{ "/icons/line/save-alt.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="save-alt">
      {{ "/icons/line/save-alt.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">save-alt</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#save-as">
    <div class="mb-4">
      {{ "/icons/line/save-as.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="save-as">
      {{ "/icons/line/save-as.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">save-as</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#save">
    <div class="mb-4">
      {{ "/icons/line/save.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="save">
      {{ "/icons/line/save.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">save</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#scissors">
    <div class="mb-4">
      {{ "/icons/line/scissors.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="scissors">
      {{ "/icons/line/scissors.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">scissors</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#scroll">
    <div class="mb-4">
      {{ "/icons/line/scroll.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="scroll">
      {{ "/icons/line/scroll.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">scroll</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#search-circle">
    <div class="mb-4">
      {{ "/icons/line/search-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="search-circle">
      {{ "/icons/line/search-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">search-circle</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#search-text">
    <div class="mb-4">
      {{ "/icons/line/search-text.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="search-text">
      {{ "/icons/line/search-text.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">search-text</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#search">
    <div class="mb-4">
      {{ "/icons/line/search.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="search">
      {{ "/icons/line/search.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">search</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#selector">
    <div class="mb-4">
      {{ "/icons/line/selector.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="selector">
      {{ "/icons/line/selector.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">selector</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#server">
    <div class="mb-4">
      {{ "/icons/line/server.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="server">
      {{ "/icons/line/server.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">server</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#share">
    <div class="mb-4">
      {{ "/icons/line/share.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="share">
      {{ "/icons/line/share.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">share</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#shield-check">
    <div class="mb-4">
      {{ "/icons/line/shield-check.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="shield-check">
      {{ "/icons/line/shield-check.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">shield-check</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#shield-exclamation">
    <div class="mb-4">
      {{ "/icons/line/shield-exclamation.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="shield-exclamation">
      {{ "/icons/line/shield-exclamation.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">shield-exclamation</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#shopping-bag">
    <div class="mb-4">
      {{ "/icons/line/shopping-bag.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="shopping-bag">
      {{ "/icons/line/shopping-bag.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">shopping-bag</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#shopping-cart">
    <div class="mb-4">
      {{ "/icons/line/shopping-cart.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="shopping-cart">
      {{ "/icons/line/shopping-cart.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">shopping-cart</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#sort-horizontal">
    <div class="mb-4">
      {{ "/icons/line/sort-horizontal.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="sort-horizontal">
      {{ "/icons/line/sort-horizontal.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">sort-horizontal</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#sort-vertical">
    <div class="mb-4">
      {{ "/icons/line/sort-vertical.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="sort-vertical">
      {{ "/icons/line/sort-vertical.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">sort-vertical</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#sound-off">
    <div class="mb-4">
      {{ "/icons/line/sound-off.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="sound-off">
      {{ "/icons/line/sound-off.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">sound-off</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#sound-up">
    <div class="mb-4">
      {{ "/icons/line/sound-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="sound-up">
      {{ "/icons/line/sound-up.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">sound-up</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#sparkles">
    <div class="mb-4">
      {{ "/icons/line/sparkles.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="sparkles">
      {{ "/icons/line/sparkles.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">sparkles</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#speakerphone">
    <div class="mb-4">
      {{ "/icons/line/speakerphone.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="speakerphone">
      {{ "/icons/line/speakerphone.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">speakerphone</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#star">
    <div class="mb-4">
      {{ "/icons/line/star.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="star">
      {{ "/icons/line/star.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">star</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#status-offline">
    <div class="mb-4">
      {{ "/icons/line/status-offline.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="status-offline">
      {{ "/icons/line/status-offline.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">status-offline</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#status-online">
    <div class="mb-4">
      {{ "/icons/line/status-online.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="status-online">
      {{ "/icons/line/status-online.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">status-online</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#stop-circle">
    <div class="mb-4">
      {{ "/icons/line/stop-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="stop-circle">
      {{ "/icons/line/stop-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">stop-circle</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#sun">
    <div class="mb-4">
      {{ "/icons/line/sun.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="sun">
      {{ "/icons/line/sun.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">sun</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#support">
    <div class="mb-4">
      {{ "/icons/line/support.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="support">
      {{ "/icons/line/support.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">support</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#table">
    <div class="mb-4">
      {{ "/icons/line/table.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="table">
      {{ "/icons/line/table.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">table</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#tag">
    <div class="mb-4">
      {{ "/icons/line/tag.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="tag">
      {{ "/icons/line/tag.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">tag</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#terminal">
    <div class="mb-4">
      {{ "/icons/line/terminal.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="terminal">
      {{ "/icons/line/terminal.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">terminal</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#thumb-down">
    <div class="mb-4">
      {{ "/icons/line/thumb-down.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="thumb-down">
      {{ "/icons/line/thumb-down.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">thumb-down</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#thumb-up">
    <div class="mb-4">
      {{ "/icons/line/thumb-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="thumb-up">
      {{ "/icons/line/thumb-up.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">thumb-up</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#ticket">
    <div class="mb-4">
      {{ "/icons/line/ticket.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="ticket">
      {{ "/icons/line/ticket.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">ticket</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#translate">
    <div class="mb-4">
      {{ "/icons/line/translate.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="translate">
      {{ "/icons/line/translate.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">translate</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#trash">
    <div class="mb-4">
      {{ "/icons/line/trash.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="trash">
      {{ "/icons/line/trash.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">trash</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#trending-down">
    <div class="mb-4">
      {{ "/icons/line/trending-down.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="trending-down">
      {{ "/icons/line/trending-down.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">trending-down</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#trending-up">
    <div class="mb-4">
      {{ "/icons/line/trending-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="trending-up">
      {{ "/icons/line/trending-up.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">trending-up</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#truck">
    <div class="mb-4">
      {{ "/icons/line/truck.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="truck">
      {{ "/icons/line/truck.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">truck</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#user-add">
    <div class="mb-4">
      {{ "/icons/line/user-add.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="user-add">
      {{ "/icons/line/user-add.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">user-add</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#user-circle">
    <div class="mb-4">
      {{ "/icons/line/user-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="user-circle">
      {{ "/icons/line/user-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">user-circle</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#user-group">
    <div class="mb-4">
      {{ "/icons/line/user-group.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="user-group relative">
      {{ "/icons/line/user-group.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">user-group</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#user-remove">
    <div class="mb-4">
      {{ "/icons/line/user-remove.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="user-remove">
      {{ "/icons/line/user-remove.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">user-remove</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#user">
    <div class="mb-4">
      {{ "/icons/line/user.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="user">
      {{ "/icons/line/user.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">user</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#users">
    <div class="mb-4">
      {{ "/icons/line/users.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="users">
      {{ "/icons/line/users.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">users</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#video-camera">
    <div class="mb-4">
      {{ "/icons/line/video-camera.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="video-camera">
      {{ "/icons/line/video-camera.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">video-camera</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#view-boards">
    <div class="mb-4">
      {{ "/icons/line/view-boards.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="view-boards">
      {{ "/icons/line/view-boards.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">view-boards</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#view-grid">
    <div class="mb-4">
      {{ "/icons/line/view-grid.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="view-grid">
      {{ "/icons/line/view-grid.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">view-grid</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#view-list">
    <div class="mb-4">
      {{ "/icons/line/view-list.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="view-list">
      {{ "/icons/line/view-list.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">view-list</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#wifi">
    <div class="mb-4">
      {{ "/icons/line/wifi.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="wifi">
      {{ "/icons/line/wifi.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">wifi</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#zoom-in">
    <div class="mb-4">
      {{ "/icons/line/zoom-in.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="zoom-in">
      {{ "/icons/line/zoom-in.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">zoom-in</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#zoom-out">
    <div class="mb-4">
      {{ "/icons/line/zoom-out.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="zoom-out">
      {{ "/icons/line/zoom-out.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">zoom-out</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
</div>
