<div
  class="grid gap-2 text-center text-xs leading-4 col-start-1 row-start-2 text-gray-700"
  style="grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))"
>
  <div class="icon-container group" data-clipboard-target="#academic-cap-solid">
    <div class="mb-4">
      {{ "/icons/solid/academic-cap.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="academic-cap-solid">
      {{ "/icons/solid/academic-cap.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">academic-cap</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#adjustments-solid">
    <div class="mb-4">
      {{ "/icons/solid/adjustments.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="adjustments-solid">
      {{ "/icons/solid/adjustments.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">adjustments</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#analytics-solid">
    <div class="mb-4">
      {{ "/icons/solid/analytics.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="analytics-solid">
      {{ "/icons/solid/analytics.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">analytics</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#annotation-solid">
    <div class="mb-4">
      {{ "/icons/solid/annotation.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="annotation-solid">
      {{ "/icons/solid/annotation.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">annotation</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#applications-add-solid">
    <div class="mb-4">
      {{ "/icons/solid/applications-add.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="applications-add-solid">
      {{ "/icons/solid/applications-add.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">applications-add</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#applications-solid">
    <div class="mb-4">
      {{ "/icons/solid/applications.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="applications-solid">
      {{ "/icons/solid/applications.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">applications</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#archive-solid">
    <div class="mb-4">
      {{ "/icons/solid/archive.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="archive-solid">
      {{ "/icons/solid/archive.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">archive</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#arrow-circle-down-solid">
    <div class="mb-4">
      {{ "/icons/solid/arrow-circle-down.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-circle-down-solid">
      {{ "/icons/solid/arrow-circle-down.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">arrow-circle-down</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#arrow-circle-left-solid">
    <div class="mb-4">
      {{ "/icons/solid/arrow-circle-left.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-circle-left-solid">
      {{ "/icons/solid/arrow-circle-left.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">arrow-circle-left</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#arrow-circle-right-solid">
    <div class="mb-4">
      {{ "/icons/solid/arrow-circle-right.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-circle-right-solid">
      {{ "/icons/solid/arrow-circle-right.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">arrow-circle-right</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#arrow-circle-up-solid">
    <div class="mb-4">
      {{ "/icons/solid/arrow-circle-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-circle-up-solid">
      {{ "/icons/solid/arrow-circle-up.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">arrow-circle-up</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#arrow-down-solid">
    <div class="mb-4">
      {{ "/icons/solid/arrow-down.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-down-solid">
      {{ "/icons/solid/arrow-down.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">arrow-down</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#arrow-left-solid">
    <div class="mb-4">
      {{ "/icons/solid/arrow-left.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-left-solid">
      {{ "/icons/solid/arrow-left.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">arrow-left</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#arrow-right-solid">
    <div class="mb-4">
      {{ "/icons/solid/arrow-right.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-right-solid">
      {{ "/icons/solid/arrow-right.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">arrow-right</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#arrow-up-solid">
    <div class="mb-4">
      {{ "/icons/solid/arrow-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-up-solid">
      {{ "/icons/solid/arrow-up.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">arrow-up</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#arrows-expand-solid">
    <div class="mb-4">
      {{ "/icons/solid/arrows-expand.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrows-expand-solid">
      {{ "/icons/solid/arrows-expand.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">arrows-expand</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#at-symbol-solid">
    <div class="mb-4">
      {{ "/icons/solid/at-symbol.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="at-symbol-solid">
      {{ "/icons/solid/at-symbol.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">at-symbol</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#backspace-solid">
    <div class="mb-4">
      {{ "/icons/solid/backspace.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="backspace-solid">
      {{ "/icons/solid/backspace.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">backspace</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#badge-check-solid">
    <div class="mb-4">
      {{ "/icons/solid/badge-check.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="badge-check-solid">
      {{ "/icons/solid/badge-check.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">badge-check</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#ban-solid">
    <div class="mb-4">
      {{ "/icons/solid/ban.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="ban-solid">
      {{ "/icons/solid/ban.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">ban</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#beaker-solid">
    <div class="mb-4">
      {{ "/icons/solid/beaker.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="beaker-solid">
      {{ "/icons/solid/beaker.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">beaker</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#bell-solid">
    <div class="mb-4">
      {{ "/icons/solid/bell.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="bell-solid">
      {{ "/icons/solid/bell.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">bell</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#book-open-solid">
    <div class="mb-4">
      {{ "/icons/solid/book-open.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="book-open-solid">
      {{ "/icons/solid/book-open.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">book-open</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#bookmark-book-solid">
    <div class="mb-4">
      {{ "/icons/solid/bookmark-book.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="bookmark-book-solid">
      {{ "/icons/solid/bookmark-book.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">bookmark-book</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#bookmark-solid">
    <div class="mb-4">
      {{ "/icons/solid/bookmark.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="bookmark-solid">
      {{ "/icons/solid/bookmark.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">bookmark</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#briefcase-solid">
    <div class="mb-4">
      {{ "/icons/solid/briefcase.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="briefcase-solid">
      {{ "/icons/solid/briefcase.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">briefcase</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#cake-solid">
    <div class="mb-4">
      {{ "/icons/solid/cake.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cake-solid">
      {{ "/icons/solid/cake.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">cake</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#calculator-solid">
    <div class="mb-4">
      {{ "/icons/solid/calculator.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="calculator-solid">
      {{ "/icons/solid/calculator.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">calculator</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#calendar-solid">
    <div class="mb-4">
      {{ "/icons/solid/calendar.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="calendar-solid">
      {{ "/icons/solid/calendar.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">calendar</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#camera-solid">
    <div class="mb-4">
      {{ "/icons/solid/camera.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="camera-solid">
      {{ "/icons/solid/camera.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">camera</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#cash-solid">
    <div class="mb-4">
      {{ "/icons/solid/cash.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cash-solid">
      {{ "/icons/solid/cash.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">cash</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#chart-bar-solid">
    <div class="mb-4">
      {{ "/icons/solid/chart-bar.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chart-bar-solid">
      {{ "/icons/solid/chart-bar.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">chart-bar</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#chart-pie-solid">
    <div class="mb-4">
      {{ "/icons/solid/chart-pie.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chart-pie-solid">
      {{ "/icons/solid/chart-pie.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">chart-pie</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#chat-solid">
    <div class="mb-4">
      {{ "/icons/solid/chat.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chat-solid">
      {{ "/icons/solid/chat.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">chat</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#chats-solid">
    <div class="mb-4">
      {{ "/icons/solid/chats.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chats-solid">
      {{ "/icons/solid/chats.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">chats</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#check-circle-solid">
    <div class="mb-4">
      {{ "/icons/solid/check-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="check-circle-solid">
      {{ "/icons/solid/check-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">check-circle</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#check-solid">
    <div class="mb-4">
      {{ "/icons/solid/check.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="check-solid">
      {{ "/icons/solid/check.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">check</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div
    class="icon-container group"
    data-clipboard-target="#chevron-double-dow-solidn"
  >
    <div class="mb-4">
      {{ "/icons/solid/chevron-double-down.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-double-down-solid">
      {{ "/icons/solid/chevron-double-down.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">chevron-double-down</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div
    class="icon-container group"
    data-clipboard-target="#chevron-double-lef-solidt"
  >
    <div class="mb-4">
      {{ "/icons/solid/chevron-double-left.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-double-left-solid">
      {{ "/icons/solid/chevron-double-left.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">chevron-double-left</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div
    class="icon-container group"
    data-clipboard-target="#chevron-double-righ-solidt"
  >
    <div class="mb-4">
      {{ "/icons/solid/chevron-double-right.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-double-right-solid">
      {{ "/icons/solid/chevron-double-right.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">chevron-double-right</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#chevron-double-up-solid">
    <div class="mb-4">
      {{ "/icons/solid/chevron-double-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-double-up-solid">
      {{ "/icons/solid/chevron-double-up.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">chevron-double-up</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#chevron-down-solid">
    <div class="mb-4">
      {{ "/icons/solid/chevron-down.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-down-solid">
      {{ "/icons/solid/chevron-down.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">chevron-down</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#chevron-left-solid">
    <div class="mb-4">
      {{ "/icons/solid/chevron-left.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-left-solid">
      {{ "/icons/solid/chevron-left.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">chevron-left</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#chevron-right-solid">
    <div class="mb-4">
      {{ "/icons/solid/chevron-right.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-right-solid">
      {{ "/icons/solid/chevron-right.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">chevron-right</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#chevron-up-solid">
    <div class="mb-4">
      {{ "/icons/solid/chevron-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-up-solid">
      {{ "/icons/solid/chevron-up.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">chevron-up</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#chip-solid">
    <div class="mb-4">
      {{ "/icons/solid/chip.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chip-solid">
      {{ "/icons/solid/chip.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">chip</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#clipboard-check-solid">
    <div class="mb-4">
      {{ "/icons/solid/clipboard-check.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="clipboard-check-solid">
      {{ "/icons/solid/clipboard-check.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">clipboard-check</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#clipboard-copy-solid">
    <div class="mb-4">
      {{ "/icons/solid/clipboard-copy.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="clipboard-copy-solid">
      {{ "/icons/solid/clipboard-copy.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">clipboard-copy</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#clipboard-list-solid">
    <div class="mb-4">
      {{ "/icons/solid/clipboard-list.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="clipboard-list-solid">
      {{ "/icons/solid/clipboard-list.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">clipboard-list</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#clipboard-solid">
    <div class="mb-4">
      {{ "/icons/solid/clipboard.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="clipboard-solid">
      {{ "/icons/solid/clipboard.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">clipboard</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#clock-solid">
    <div class="mb-4">
      {{ "/icons/solid/clock.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="clock-solid">
      {{ "/icons/solid/clock.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">clock</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#close-circle-solid">
    <div class="mb-4">
      {{ "/icons/solid/close-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="close-circle-solid">
      {{ "/icons/solid/close-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">close-circle</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#close-solid">
    <div class="mb-4">
      {{ "/icons/solid/close.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="close-solid">
      {{ "/icons/solid/close.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">close</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#cloud-download-solid">
    <div class="mb-4">
      {{ "/icons/solid/cloud-download.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cloud-download-solid">
      {{ "/icons/solid/cloud-download.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">cloud-download</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#cloud-upload-solid">
    <div class="mb-4">
      {{ "/icons/solid/cloud-upload.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cloud-upload-solid">
      {{ "/icons/solid/cloud-upload.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">cloud-upload</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#cloud-solid">
    <div class="mb-4">
      {{ "/icons/solid/cloud.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cloud-solid">
      {{ "/icons/solid/cloud.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">cloud</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#code-solid">
    <div class="mb-4">
      {{ "/icons/solid/code.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="code-solid">
      {{ "/icons/solid/code.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">code</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#cog-solid">
    <div class="mb-4">
      {{ "/icons/solid/cog.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cog-solid">
      {{ "/icons/solid/cog.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">cog</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#collection-solid">
    <div class="mb-4">
      {{ "/icons/solid/collection.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="collection-solid">
      {{ "/icons/solid/collection.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">collection</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#color-swatch-solid">
    <div class="mb-4">
      {{ "/icons/solid/color-swatch.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="color-swatch-solid">
      {{ "/icons/solid/color-swatch.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">color-swatch</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#compass-solid">
    <div class="mb-4">
      {{ "/icons/solid/compass.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="compass-solid">
      {{ "/icons/solid/compass.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">compass</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#contact-solid">
    <div class="mb-4">
      {{ "/icons/solid/contact.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="contact-solid">
      {{ "/icons/solid/contact.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">contact</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#credit-card-solid">
    <div class="mb-4">
      {{ "/icons/solid/credit-card.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="credit-card-solid">
      {{ "/icons/solid/credit-card.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">credit-card</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#cube-solid">
    <div class="mb-4">
      {{ "/icons/solid/cube.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cube-solid">
      {{ "/icons/solid/cube.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">cube</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#cursor-click-solid">
    <div class="mb-4">
      {{ "/icons/solid/cursor-click.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cursor-click-solid">
      {{ "/icons/solid/cursor-click.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">cursor-click</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#dashboard-solid">
    <div class="mb-4">
      {{ "/icons/solid/dashboard.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="dashboard-solid">
      {{ "/icons/solid/dashboard.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">dashboard</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#database-solid">
    <div class="mb-4">
      {{ "/icons/solid/database.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="database-solid">
      {{ "/icons/solid/database.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">database</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#desktop-computer-solid">
    <div class="mb-4">
      {{ "/icons/solid/desktop-computer.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="desktop-computer-solid">
      {{ "/icons/solid/desktop-computer.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">desktop-computer</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#device-mobile-solid">
    <div class="mb-4">
      {{ "/icons/solid/device-mobile.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="device-mobile-solid">
      {{ "/icons/solid/device-mobile.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">device-mobile</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#device-tablet-solid">
    <div class="mb-4">
      {{ "/icons/solid/device-tablet.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="device-tablet-solid">
      {{ "/icons/solid/device-tablet.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">device-tablet</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#dots-circle-solid">
    <div class="mb-4">
      {{ "/icons/solid/dots-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="dots-circle-solid">
      {{ "/icons/solid/dots-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">dots-circle</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#dots-horizontal-solid">
    <div class="mb-4">
      {{ "/icons/solid/dots-horizontal.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="dots-horizontal-solid">
      {{ "/icons/solid/dots-horizontal.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">dots-horizontal</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#dots-vertical-solid">
    <div class="mb-4">
      {{ "/icons/solid/dots-vertical.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="dots-vertical-solid">
      {{ "/icons/solid/dots-vertical.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">dots-vertical</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#duplicate-solid">
    <div class="mb-4">
      {{ "/icons/solid/duplicate.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="duplicate-solid">
      {{ "/icons/solid/duplicate.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">duplicate</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#emoji-happy-solid">
    <div class="mb-4">
      {{ "/icons/solid/emoji-happy.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="emoji-happy-solid">
      {{ "/icons/solid/emoji-happy.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">emoji-happy</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#emoji-sad-solid">
    <div class="mb-4">
      {{ "/icons/solid/emoji-sad.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="emoji-sad-solid">
      {{ "/icons/solid/emoji-sad.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">emoji-sad</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#exclamation-circle-solid">
    <div class="mb-4">
      {{ "/icons/solid/exclamation-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="exclamation-circle-solid">
      {{ "/icons/solid/exclamation-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">exclamation-circle</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#exclamation-solid">
    <div class="mb-4">
      {{ "/icons/solid/exclamation.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="exclamation-solid">
      {{ "/icons/solid/exclamation.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">exclamation</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#external-link-solid">
    <div class="mb-4">
      {{ "/icons/solid/external-link.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="external-link-solid">
      {{ "/icons/solid/external-link.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">external-link</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#eye-off-solid">
    <div class="mb-4">
      {{ "/icons/solid/eye-off.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="eye-off-solid">
      {{ "/icons/solid/eye-off.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">eye-off</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#eye-solid">
    <div class="mb-4">
      {{ "/icons/solid/eye.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="eye-solid">
      {{ "/icons/solid/eye.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">eye</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#fast-forward-solid">
    <div class="mb-4">
      {{ "/icons/solid/fast-forward.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="fast-forward-solid">
      {{ "/icons/solid/fast-forward.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">fast-forward</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#file-add-solid">
    <div class="mb-4">
      {{ "/icons/solid/file-add.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-add-solid">
      {{ "/icons/solid/file-add.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">file-add</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#file-download-solid">
    <div class="mb-4">
      {{ "/icons/solid/file-download.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-download-solid">
      {{ "/icons/solid/file-download.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">file-download</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#file-duplicate-solid">
    <div class="mb-4">
      {{ "/icons/solid/file-duplicate.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-duplicate-solid">
      {{ "/icons/solid/file-duplicate.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">file-duplicate</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#file-remove-solid">
    <div class="mb-4">
      {{ "/icons/solid/file-remove.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-remove-solid">
      {{ "/icons/solid/file-remove.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">file-remove</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#file-report-solid">
    <div class="mb-4">
      {{ "/icons/solid/file-report.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-report-solid">
      {{ "/icons/solid/file-report.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">file-report</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#file-search-solid">
    <div class="mb-4">
      {{ "/icons/solid/file-search.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-search-solid">
      {{ "/icons/solid/file-search.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">file-search</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#file-text-solid">
    <div class="mb-4">
      {{ "/icons/solid/file-text.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-text-solid">
      {{ "/icons/solid/file-text.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">file-text</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#file-solid">
    <div class="mb-4">
      {{ "/icons/solid/file.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-solid">
      {{ "/icons/solid/file.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">file</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#film-solid">
    <div class="mb-4">
      {{ "/icons/solid/film.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="film-solid">
      {{ "/icons/solid/film.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">film</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#filter-solid">
    <div class="mb-4">
      {{ "/icons/solid/filter.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="filter-solid">
      {{ "/icons/solid/filter.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">filter</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#fire-solid">
    <div class="mb-4">
      {{ "/icons/solid/fire.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="fire-solid">
      {{ "/icons/solid/fire.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">fire</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#flag-solid">
    <div class="mb-4">
      {{ "/icons/solid/flag.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="flag-solid">
      {{ "/icons/solid/flag.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">flag</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#folder-add-solid">
    <div class="mb-4">
      {{ "/icons/solid/folder-add.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="folder-add-solid">
      {{ "/icons/solid/folder-add.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">folder-add</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#folder-download-solid">
    <div class="mb-4">
      {{ "/icons/solid/folder-download.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="folder-download-solid">
      {{ "/icons/solid/folder-download.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">folder-download</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#folder-open-solid">
    <div class="mb-4">
      {{ "/icons/solid/folder-open.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="folder-open-solid">
      {{ "/icons/solid/folder-open.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">folder-open</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#folder-remove-solid">
    <div class="mb-4">
      {{ "/icons/solid/folder-remove.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="folder-remove-solid">
      {{ "/icons/solid/folder-remove.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">folder-remove</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#folder-solid">
    <div class="mb-4">
      {{ "/icons/solid/folder.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="folder-solid">
      {{ "/icons/solid/folder.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">folder</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#forward-solid">
    <div class="mb-4">
      {{ "/icons/solid/forward.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="forward-solid">
      {{ "/icons/solid/forward.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">forward</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#ghost-solid">
    <div class="mb-4">
      {{ "/icons/solid/ghost.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="ghost-solid">
      {{ "/icons/solid/ghost.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">ghost</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#globe-solid">
    <div class="mb-4">
      {{ "/icons/solid/globe.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="globe-solid">
      {{ "/icons/solid/globe.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">globe</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#hand-solid">
    <div class="mb-4">
      {{ "/icons/solid/hand.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="hand-solid">
      {{ "/icons/solid/hand.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">hand</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#hashtag-solid">
    <div class="mb-4">
      {{ "/icons/solid/hashtag.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="hashtag-solid">
      {{ "/icons/solid/hashtag.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">hashtag</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#heart-solid">
    <div class="mb-4">
      {{ "/icons/solid/heart.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="heart-solid">
      {{ "/icons/solid/heart.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">heart</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#home-solid">
    <div class="mb-4">
      {{ "/icons/solid/home.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="home-solid">
      {{ "/icons/solid/home.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">home</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#image-solid">
    <div class="mb-4">
      {{ "/icons/solid/image.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="image-solid">
      {{ "/icons/solid/image.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">image</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#inbox-in-solid">
    <div class="mb-4">
      {{ "/icons/solid/inbox-in.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="inbox-in-solid">
      {{ "/icons/solid/inbox-in.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">inbox-in</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#inbox-solid">
    <div class="mb-4">
      {{ "/icons/solid/inbox.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="inbox-solid">
      {{ "/icons/solid/inbox.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">inbox</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#information-circle-solid">
    <div class="mb-4">
      {{ "/icons/solid/information-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="information-circle-solid">
      {{ "/icons/solid/information-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">information-circle</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#key-solid">
    <div class="mb-4">
      {{ "/icons/solid/key.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="key-solid">
      {{ "/icons/solid/key.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">key</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#library-solid">
    <div class="mb-4">
      {{ "/icons/solid/library.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="library-solid">
      {{ "/icons/solid/library.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">library</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#light-bulb-solid">
    <div class="mb-4">
      {{ "/icons/solid/light-bulb.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="light-bulb-solid">
      {{ "/icons/solid/light-bulb.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">light-bulb</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#lightning-bolt-solid">
    <div class="mb-4">
      {{ "/icons/solid/lightning-bolt.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="lightning-bolt-solid">
      {{ "/icons/solid/lightning-bolt.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">lightning-bolt</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#link-solid">
    <div class="mb-4">
      {{ "/icons/solid/link.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="link-solid">
      {{ "/icons/solid/link.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">link</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#location-marker-solid">
    <div class="mb-4">
      {{ "/icons/solid/location-marker.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="location-marker-solid">
      {{ "/icons/solid/location-marker.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">location-marker</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#lock-closed-solid">
    <div class="mb-4">
      {{ "/icons/solid/lock-closed.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="lock-closed-solid">
      {{ "/icons/solid/lock-closed.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">lock-closed</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#lock-open-solid">
    <div class="mb-4">
      {{ "/icons/solid/lock-open.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="lock-open-solid">
      {{ "/icons/solid/lock-open.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">lock-open</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#login-solid">
    <div class="mb-4">
      {{ "/icons/solid/login.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="login-solid">
      {{ "/icons/solid/login.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">login</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#logout-solid">
    <div class="mb-4">
      {{ "/icons/solid/logout.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="logout-solid">
      {{ "/icons/solid/logout.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">logout</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#mail-open-solid">
    <div class="mb-4">
      {{ "/icons/solid/mail-open.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="mail-open-solid">
      {{ "/icons/solid/mail-open.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">mail-open</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#mail-solid">
    <div class="mb-4">
      {{ "/icons/solid/mail.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="mail-solid">
      {{ "/icons/solid/mail.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">mail</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#map-solid">
    <div class="mb-4">
      {{ "/icons/solid/map.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="map-solid">
      {{ "/icons/solid/map.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">map</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#menu-alt-solid">
    <div class="mb-4">
      {{ "/icons/solid/menu-alt.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="menu-alt-solid">
      {{ "/icons/solid/menu-alt.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">menu-alt</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#menu-solid">
    <div class="mb-4">
      {{ "/icons/solid/menu.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="menu-solid">
      {{ "/icons/solid/menu.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">menu</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#message-solid">
    <div class="mb-4">
      {{ "/icons/solid/message.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="message-solid">
      {{ "/icons/solid/message.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">message</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#messages-solid">
    <div class="mb-4">
      {{ "/icons/solid/messages.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="messages-solid">
      {{ "/icons/solid/messages.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">messages</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#microphone-solid">
    <div class="mb-4">
      {{ "/icons/solid/microphone.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="microphone-solid">
      {{ "/icons/solid/microphone.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">microphone</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#minus-circle-solid">
    <div class="mb-4">
      {{ "/icons/solid/minus-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="minus-circle-solid">
      {{ "/icons/solid/minus-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">minus-circle</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#minus-solid">
    <div class="mb-4">
      {{ "/icons/solid/minus.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="minus-solid">
      {{ "/icons/solid/minus.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">minus</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#moon-solid">
    <div class="mb-4">
      {{ "/icons/solid/moon.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="moon-solid">
      {{ "/icons/solid/moon.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">moon</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#music-note-solid">
    <div class="mb-4">
      {{ "/icons/solid/music-note.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="music-note-solid">
      {{ "/icons/solid/music-note.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">music-note</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#newspaper-solid">
    <div class="mb-4">
      {{ "/icons/solid/newspaper.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="newspaper-solid">
      {{ "/icons/solid/newspaper.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">newspaper</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#paper-airplane-solid">
    <div class="mb-4">
      {{ "/icons/solid/paper-airplane.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="paper-airplane-solid">
      {{ "/icons/solid/paper-airplane.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">paper-airplane</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#paper-clip-solid">
    <div class="mb-4">
      {{ "/icons/solid/paper-clip.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="paper-clip-solid">
      {{ "/icons/solid/paper-clip.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">paper-clip</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#pause-solid">
    <div class="mb-4">
      {{ "/icons/solid/pause.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="pause-solid">
      {{ "/icons/solid/pause.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">pause</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#pencil-alt-solid">
    <div class="mb-4">
      {{ "/icons/solid/pencil-alt.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="pencil-alt-solid">
      {{ "/icons/solid/pencil-alt.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">pencil-alt</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#pencil-solid">
    <div class="mb-4">
      {{ "/icons/solid/pencil.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="pencil-solid">
      {{ "/icons/solid/pencil.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">pencil</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#phone-incoming-solid">
    <div class="mb-4">
      {{ "/icons/solid/phone-incoming.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="phone-incoming-solid">
      {{ "/icons/solid/phone-incoming.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">phone-incoming</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#phone-missed-call-solid">
    <div class="mb-4">
      {{ "/icons/solid/phone-missed-call.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="phone-missed-call-solid">
      {{ "/icons/solid/phone-missed-call.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">phone-missed-call</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#phone-outgoing-solid">
    <div class="mb-4">
      {{ "/icons/solid/phone-outgoing.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="phone-outgoing-solid">
      {{ "/icons/solid/phone-outgoing.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">phone-outgoing</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#phone-solid">
    <div class="mb-4">
      {{ "/icons/solid/phone.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="phone-solid">
      {{ "/icons/solid/phone.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">phone</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#play-circle-solid">
    <div class="mb-4">
      {{ "/icons/solid/play-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="play-circle-solid">
      {{ "/icons/solid/play-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">play-circle</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#plus-circle-solid">
    <div class="mb-4">
      {{ "/icons/solid/plus-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="plus-circle-solid">
      {{ "/icons/solid/plus-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">plus-circle</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#plus-solid">
    <div class="mb-4">
      {{ "/icons/solid/plus.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="plus-solid">
      {{ "/icons/solid/plus.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">plus</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#presentation-line-solid">
    <div class="mb-4">
      {{ "/icons/solid/presentation-line.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="presentation-line-solid">
      {{ "/icons/solid/presentation-line.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">presentation-line</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div
    class="icon-container group"
    data-clipboard-target="#presentation-repor-solidt"
  >
    <div class="mb-4">
      {{ "/icons/solid/presentation-report.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="presentation-report-solid">
      {{ "/icons/solid/presentation-report.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">presentation-report</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#printer-solid">
    <div class="mb-4">
      {{ "/icons/solid/printer.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="printer-solid">
      {{ "/icons/solid/printer.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">printer</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#puzzle-solid">
    <div class="mb-4">
      {{ "/icons/solid/puzzle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="puzzle-solid">
      {{ "/icons/solid/puzzle.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">puzzle</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#qrcode-solid">
    <div class="mb-4">
      {{ "/icons/solid/qrcode.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="qrcode-solid">
      {{ "/icons/solid/qrcode.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">qrcode</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div
    class="icon-container group"
    data-clipboard-target="#question-mark-circl-solide"
  >
    <div class="mb-4">
      {{ "/icons/solid/question-mark-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="question-mark-circle-solid">
      {{ "/icons/solid/question-mark-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">question-mark-circle</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#receipt-refund-solid">
    <div class="mb-4">
      {{ "/icons/solid/receipt-refund.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="receipt-refund-solid">
      {{ "/icons/solid/receipt-refund.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">receipt-refund</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#receipt-text-solid">
    <div class="mb-4">
      {{ "/icons/solid/receipt-text.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="receipt-text-solid">
      {{ "/icons/solid/receipt-text.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">receipt-text</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#receipt-solid">
    <div class="mb-4">
      {{ "/icons/solid/receipt.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="receipt-solid">
      {{ "/icons/solid/receipt.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">receipt</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#refresh-solid">
    <div class="mb-4">
      {{ "/icons/solid/refresh.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="refresh-solid">
      {{ "/icons/solid/refresh.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">refresh</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#reply-all-solid">
    <div class="mb-4">
      {{ "/icons/solid/reply-all.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="reply-all-solid">
      {{ "/icons/solid/reply-all.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">reply-all</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#reply-solid">
    <div class="mb-4">
      {{ "/icons/solid/reply.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="reply-solid">
      {{ "/icons/solid/reply.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">reply</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#rewind-solid">
    <div class="mb-4">
      {{ "/icons/solid/rewind.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="rewind-solid">
      {{ "/icons/solid/rewind.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">rewind</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#rss-solid">
    <div class="mb-4">
      {{ "/icons/solid/rss.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="rss-solid">
      {{ "/icons/solid/rss.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">rss</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#save-alt-solid">
    <div class="mb-4">
      {{ "/icons/solid/save-alt.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="save-alt-solid">
      {{ "/icons/solid/save-alt.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">save-alt</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#save-as-solid">
    <div class="mb-4">
      {{ "/icons/solid/save-as.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="save-as-solid">
      {{ "/icons/solid/save-as.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">save-as</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#save-solid">
    <div class="mb-4">
      {{ "/icons/solid/save.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="save-solid">
      {{ "/icons/solid/save.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">save</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#scissors-solid">
    <div class="mb-4">
      {{ "/icons/solid/scissors.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="scissors-solid">
      {{ "/icons/solid/scissors.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">scissors</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#scroll-solid">
    <div class="mb-4">
      {{ "/icons/solid/scroll.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="scroll-solid">
      {{ "/icons/solid/scroll.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">scroll</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#search-circle-solid">
    <div class="mb-4">
      {{ "/icons/solid/search-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="search-circle-solid">
      {{ "/icons/solid/search-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">search-circle</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#search-text-solid">
    <div class="mb-4">
      {{ "/icons/solid/search-text.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="search-text-solid">
      {{ "/icons/solid/search-text.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">search-text</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#search-solid">
    <div class="mb-4">
      {{ "/icons/solid/search.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="search-solid">
      {{ "/icons/solid/search.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">search</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#selector-solid">
    <div class="mb-4">
      {{ "/icons/solid/selector.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="selector-solid">
      {{ "/icons/solid/selector.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">selector</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#server-solid">
    <div class="mb-4">
      {{ "/icons/solid/server.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="server-solid">
      {{ "/icons/solid/server.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">server</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#share-solid">
    <div class="mb-4">
      {{ "/icons/solid/share.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="share-solid">
      {{ "/icons/solid/share.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">share</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#shield-check-solid">
    <div class="mb-4">
      {{ "/icons/solid/shield-check.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="shield-check-solid">
      {{ "/icons/solid/shield-check.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">shield-check</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#shield-exclamation-solid">
    <div class="mb-4">
      {{ "/icons/solid/shield-exclamation.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="shield-exclamation-solid">
      {{ "/icons/solid/shield-exclamation.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">shield-exclamation</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#shopping-bag-solid">
    <div class="mb-4">
      {{ "/icons/solid/shopping-bag.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="shopping-bag-solid">
      {{ "/icons/solid/shopping-bag.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">shopping-bag</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#shopping-cart-solid">
    <div class="mb-4">
      {{ "/icons/solid/shopping-cart.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="shopping-cart-solid">
      {{ "/icons/solid/shopping-cart.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">shopping-cart</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#sort-horizontal-solid">
    <div class="mb-4">
      {{ "/icons/solid/sort-horizontal.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="sort-horizontal-solid">
      {{ "/icons/solid/sort-horizontal.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">sort-horizontal</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#sort-vertical-solid">
    <div class="mb-4">
      {{ "/icons/solid/sort-vertical.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="sort-vertical-solid">
      {{ "/icons/solid/sort-vertical.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">sort-vertical</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#sound-off-solid">
    <div class="mb-4">
      {{ "/icons/solid/sound-off.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="sound-off-solid">
      {{ "/icons/solid/sound-off.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">sound-off</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#sound-up-solid">
    <div class="mb-4">
      {{ "/icons/solid/sound-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="sound-up-solid">
      {{ "/icons/solid/sound-up.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">sound-up</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#sparkles-solid">
    <div class="mb-4">
      {{ "/icons/solid/sparkles.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="sparkles-solid">
      {{ "/icons/solid/sparkles.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">sparkles</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#speakerphone-solid">
    <div class="mb-4">
      {{ "/icons/solid/speakerphone.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="speakerphone-solid">
      {{ "/icons/solid/speakerphone.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">speakerphone</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#star-solid">
    <div class="mb-4">
      {{ "/icons/solid/star.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="star-solid">
      {{ "/icons/solid/star.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">star</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#status-offline-solid">
    <div class="mb-4">
      {{ "/icons/solid/status-offline.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="status-offline-solid">
      {{ "/icons/solid/status-offline.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">status-offline</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#status-online-solid">
    <div class="mb-4">
      {{ "/icons/solid/status-online.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="status-online-solid">
      {{ "/icons/solid/status-online.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">status-online</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#stop-circle-solid">
    <div class="mb-4">
      {{ "/icons/solid/stop-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="stop-circle-solid">
      {{ "/icons/solid/stop-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">stop-circle</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#sun-solid">
    <div class="mb-4">
      {{ "/icons/solid/sun.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="sun-solid">
      {{ "/icons/solid/sun.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">sun</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#support-solid">
    <div class="mb-4">
      {{ "/icons/solid/support.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="support-solid">
      {{ "/icons/solid/support.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">support</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#table-solid">
    <div class="mb-4">
      {{ "/icons/solid/table.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="table-solid">
      {{ "/icons/solid/table.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">table</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#tag-solid">
    <div class="mb-4">
      {{ "/icons/solid/tag.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="tag-solid">
      {{ "/icons/solid/tag.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">tag</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#terminal-solid">
    <div class="mb-4">
      {{ "/icons/solid/terminal.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="terminal-solid">
      {{ "/icons/solid/terminal.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">terminal</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#thumb-down-solid">
    <div class="mb-4">
      {{ "/icons/solid/thumb-down.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="thumb-down-solid">
      {{ "/icons/solid/thumb-down.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">thumb-down</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#thumb-up-solid">
    <div class="mb-4">
      {{ "/icons/solid/thumb-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="thumb-up-solid">
      {{ "/icons/solid/thumb-up.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">thumb-up</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#ticket-solid">
    <div class="mb-4">
      {{ "/icons/solid/ticket.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="ticket-solid">
      {{ "/icons/solid/ticket.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">ticket</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#translate-solid">
    <div class="mb-4">
      {{ "/icons/solid/translate.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="translate-solid">
      {{ "/icons/solid/translate.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">translate</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#trash-solid">
    <div class="mb-4">
      {{ "/icons/solid/trash.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="trash-solid">
      {{ "/icons/solid/trash.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">trash</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#trending-down-solid">
    <div class="mb-4">
      {{ "/icons/solid/trending-down.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="trending-down-solid">
      {{ "/icons/solid/trending-down.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">trending-down</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#trending-up-solid">
    <div class="mb-4">
      {{ "/icons/solid/trending-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="trending-up-solid">
      {{ "/icons/solid/trending-up.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">trending-up</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#truck-solid">
    <div class="mb-4">
      {{ "/icons/solid/truck.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="truck-solid">
      {{ "/icons/solid/truck.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">truck</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#user-add-solid">
    <div class="mb-4">
      {{ "/icons/solid/user-add.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="user-add-solid">
      {{ "/icons/solid/user-add.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">user-add</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#user-circle-solid">
    <div class="mb-4">
      {{ "/icons/solid/user-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="user-circle-solid">
      {{ "/icons/solid/user-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">user-circle</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#user-group-solid">
    <div class="mb-4">
      {{ "/icons/solid/user-group.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="user-group relative-solid">
      {{ "/icons/solid/user-group.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">user-group</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#user-remove-solid">
    <div class="mb-4">
      {{ "/icons/solid/user-remove.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="user-remove-solid">
      {{ "/icons/solid/user-remove.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">user-remove</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#user-solid">
    <div class="mb-4">
      {{ "/icons/solid/user.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="user-solid">
      {{ "/icons/solid/user.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">user</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#users-solid">
    <div class="mb-4">
      {{ "/icons/solid/users.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="users-solid">
      {{ "/icons/solid/users.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">users</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#video-camera-solid">
    <div class="mb-4">
      {{ "/icons/solid/video-camera.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="video-camera-solid">
      {{ "/icons/solid/video-camera.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">video-camera</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#view-boards-solid">
    <div class="mb-4">
      {{ "/icons/solid/view-boards.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="view-boards-solid">
      {{ "/icons/solid/view-boards.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">view-boards</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#view-grid-solid">
    <div class="mb-4">
      {{ "/icons/solid/view-grid.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="view-grid-solid">
      {{ "/icons/solid/view-grid.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">view-grid</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#view-list-solid">
    <div class="mb-4">
      {{ "/icons/solid/view-list.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="view-list-solid">
      {{ "/icons/solid/view-list.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">view-list</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#wifi-solid">
    <div class="mb-4">
      {{ "/icons/solid/wifi.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="wifi-solid">
      {{ "/icons/solid/wifi.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">wifi</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#zoom-in-solid">
    <div class="mb-4">
      {{ "/icons/solid/zoom-in.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="zoom-in-solid">
      {{ "/icons/solid/zoom-in.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">zoom-in</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
  <div class="icon-container group" data-clipboard-target="#zoom-out-solid">
    <div class="mb-4">
      {{ "/icons/solid/zoom-out.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="zoom-out-solid">
      {{ "/icons/solid/zoom-out.svg" | svgContents }}
    </div>

    <div class="icon-name">
      <span class="name group-hover:hidden">zoom-out</span>
      <span class="copy group-hover:block">Copy SVG</span>
    </div>
  </div>
</div>
