<div
  class="icon-wrapper"
  style="grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))"
>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/academic-cap.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="academic-cap-solid">
      {{ "/icons/solid/academic-cap.svg" | svgContents }}
    </div>

    <div class="icon-name">academic-cap</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#academic-cap-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/adjustments.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="adjustments-solid">
      {{ "/icons/solid/adjustments.svg" | svgContents }}
    </div>

    <div class="icon-name">adjustments</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#adjustments-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/analytics.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="analytics-solid">
      {{ "/icons/solid/analytics.svg" | svgContents }}
    </div>

    <div class="icon-name">analytics</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#analytics-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/annotation.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="annotation-solid">
      {{ "/icons/solid/annotation.svg" | svgContents }}
    </div>

    <div class="icon-name">annotation</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#annotation-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/applications-add.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="applications-add-solid">
      {{ "/icons/solid/applications-add.svg" | svgContents }}
    </div>

    <div class="icon-name">applications-add</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#applications-add-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/applications.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="applications-solid">
      {{ "/icons/solid/applications.svg" | svgContents }}
    </div>

    <div class="icon-name">applications</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#applications-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/archive.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="archive-solid">
      {{ "/icons/solid/archive.svg" | svgContents }}
    </div>

    <div class="icon-name">archive</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#archive-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/arrow-circle-down.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-circle-down-solid">
      {{ "/icons/solid/arrow-circle-down.svg" | svgContents }}
    </div>

    <div class="icon-name">arrow-circle-down</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#arrow-circle-down-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/arrow-circle-left.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-circle-left-solid">
      {{ "/icons/solid/arrow-circle-left.svg" | svgContents }}
    </div>

    <div class="icon-name">arrow-circle-left</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#arrow-circle-left-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/arrow-circle-right.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-circle-right-solid">
      {{ "/icons/solid/arrow-circle-right.svg" | svgContents }}
    </div>

    <div class="icon-name">arrow-circle-right</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#arrow-circle-right-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/arrow-circle-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-circle-up-solid">
      {{ "/icons/solid/arrow-circle-up.svg" | svgContents }}
    </div>

    <div class="icon-name">arrow-circle-up</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#arrow-circle-up-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/arrow-down.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-down-solid">
      {{ "/icons/solid/arrow-down.svg" | svgContents }}
    </div>

    <div class="icon-name">arrow-down</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#arrow-down-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/arrow-left.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-left-solid">
      {{ "/icons/solid/arrow-left.svg" | svgContents }}
    </div>

    <div class="icon-name">arrow-left</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#arrow-left-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/arrow-right.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-right-solid">
      {{ "/icons/solid/arrow-right.svg" | svgContents }}
    </div>

    <div class="icon-name">arrow-right</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#arrow-right-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/arrow-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrow-up-solid">
      {{ "/icons/solid/arrow-up.svg" | svgContents }}
    </div>

    <div class="icon-name">arrow-up</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#arrow-up-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/arrows-expand.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="arrows-expand-solid">
      {{ "/icons/solid/arrows-expand.svg" | svgContents }}
    </div>

    <div class="icon-name">arrows-expand</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#arrows-expand-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/at-symbol.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="at-symbol-solid">
      {{ "/icons/solid/at-symbol.svg" | svgContents }}
    </div>

    <div class="icon-name">at-symbol</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#at-symbol-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/backspace.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="backspace-solid">
      {{ "/icons/solid/backspace.svg" | svgContents }}
    </div>

    <div class="icon-name">backspace</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#backspace-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/badge-check.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="badge-check-solid">
      {{ "/icons/solid/badge-check.svg" | svgContents }}
    </div>

    <div class="icon-name">badge-check</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#badge-check-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/ban.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="ban-solid">
      {{ "/icons/solid/ban.svg" | svgContents }}
    </div>

    <div class="icon-name">ban</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#ban-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/beaker.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="beaker-solid">
      {{ "/icons/solid/beaker.svg" | svgContents }}
    </div>

    <div class="icon-name">beaker</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#beaker-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/bell.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="bell-solid">
      {{ "/icons/solid/bell.svg" | svgContents }}
    </div>

    <div class="icon-name">bell</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#bell-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/book-open.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="book-open-solid">
      {{ "/icons/solid/book-open.svg" | svgContents }}
    </div>

    <div class="icon-name">book-open</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#book-open-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/bookmark-book.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="bookmark-book-solid">
      {{ "/icons/solid/bookmark-book.svg" | svgContents }}
    </div>

    <div class="icon-name">bookmark-book</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#bookmark-book-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/bookmark.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="bookmark-solid">
      {{ "/icons/solid/bookmark.svg" | svgContents }}
    </div>

    <div class="icon-name">bookmark</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#bookmark-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/briefcase.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="briefcase-solid">
      {{ "/icons/solid/briefcase.svg" | svgContents }}
    </div>

    <div class="icon-name">briefcase</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#briefcase-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/cake.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cake-solid">
      {{ "/icons/solid/cake.svg" | svgContents }}
    </div>

    <div class="icon-name">cake</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#cake-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/calculator.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="calculator-solid">
      {{ "/icons/solid/calculator.svg" | svgContents }}
    </div>

    <div class="icon-name">calculator</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#calculator-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/calendar.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="calendar-solid">
      {{ "/icons/solid/calendar.svg" | svgContents }}
    </div>

    <div class="icon-name">calendar</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#calendar-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/camera.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="camera-solid">
      {{ "/icons/solid/camera.svg" | svgContents }}
    </div>

    <div class="icon-name">camera</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#camera-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/cash.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cash-solid">
      {{ "/icons/solid/cash.svg" | svgContents }}
    </div>

    <div class="icon-name">cash</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#cash-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/chart-bar.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chart-bar-solid">
      {{ "/icons/solid/chart-bar.svg" | svgContents }}
    </div>

    <div class="icon-name">chart-bar</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#chart-bar-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/chart-pie.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chart-pie-solid">
      {{ "/icons/solid/chart-pie.svg" | svgContents }}
    </div>

    <div class="icon-name">chart-pie</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#chart-pie-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/chat.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chat-solid">
      {{ "/icons/solid/chat.svg" | svgContents }}
    </div>

    <div class="icon-name">chat</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#chat-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/chats.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chats-solid">
      {{ "/icons/solid/chats.svg" | svgContents }}
    </div>

    <div class="icon-name">chats</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#chats-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/check-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="check-circle-solid">
      {{ "/icons/solid/check-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">check-circle</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#check-circle-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/check.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="check-solid">
      {{ "/icons/solid/check.svg" | svgContents }}
    </div>

    <div class="icon-name">check</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#check-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/chevron-double-down.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-double-down-solid">
      {{ "/icons/solid/chevron-double-down.svg" | svgContents }}
    </div>

    <div class="icon-name">chevron-double-down</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#chevron-double-down-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/chevron-double-left.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-double-left-solid">
      {{ "/icons/solid/chevron-double-left.svg" | svgContents }}
    </div>

    <div class="icon-name">chevron-double-left</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#chevron-double-left-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/chevron-double-right.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-double-right-solid">
      {{ "/icons/solid/chevron-double-right.svg" | svgContents }}
    </div>

    <div class="icon-name">chevron-double-right</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#chevron-double-right-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/chevron-double-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-double-up-solid">
      {{ "/icons/solid/chevron-double-up.svg" | svgContents }}
    </div>

    <div class="icon-name">chevron-double-up</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#chevron-double-up-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/chevron-down.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-down-solid">
      {{ "/icons/solid/chevron-down.svg" | svgContents }}
    </div>

    <div class="icon-name">chevron-down</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#chevron-down-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/chevron-left.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-left-solid">
      {{ "/icons/solid/chevron-left.svg" | svgContents }}
    </div>

    <div class="icon-name">chevron-left</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#chevron-left-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/chevron-right.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-right-solid">
      {{ "/icons/solid/chevron-right.svg" | svgContents }}
    </div>

    <div class="icon-name">chevron-right</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#chevron-right-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/chevron-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chevron-up-solid">
      {{ "/icons/solid/chevron-up.svg" | svgContents }}
    </div>

    <div class="icon-name">chevron-up</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#chevron-up-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/chip.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="chip-solid">
      {{ "/icons/solid/chip.svg" | svgContents }}
    </div>

    <div class="icon-name">chip</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#chip-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/clipboard-check.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="clipboard-check-solid">
      {{ "/icons/solid/clipboard-check.svg" | svgContents }}
    </div>

    <div class="icon-name">clipboard-check</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#clipboard-check-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/clipboard-copy.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="clipboard-copy-solid">
      {{ "/icons/solid/clipboard-copy.svg" | svgContents }}
    </div>

    <div class="icon-name">clipboard-copy</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#clipboard-copy-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/clipboard-list.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="clipboard-list-solid">
      {{ "/icons/solid/clipboard-list.svg" | svgContents }}
    </div>

    <div class="icon-name">clipboard-list</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#clipboard-list-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/clipboard.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="clipboard-solid">
      {{ "/icons/solid/clipboard.svg" | svgContents }}
    </div>

    <div class="icon-name">clipboard</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#clipboard-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/clock.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="clock-solid">
      {{ "/icons/solid/clock.svg" | svgContents }}
    </div>

    <div class="icon-name">clock</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#clock-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/close-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="close-circle-solid">
      {{ "/icons/solid/close-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">close-circle</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#close-circle-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/close.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="close-solid">
      {{ "/icons/solid/close.svg" | svgContents }}
    </div>

    <div class="icon-name">close</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#close-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/cloud-download.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cloud-download-solid">
      {{ "/icons/solid/cloud-download.svg" | svgContents }}
    </div>

    <div class="icon-name">cloud-download</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#cloud-download-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/cloud-upload.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cloud-upload-solid">
      {{ "/icons/solid/cloud-upload.svg" | svgContents }}
    </div>

    <div class="icon-name">cloud-upload</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#cloud-upload-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/cloud.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cloud-solid">
      {{ "/icons/solid/cloud.svg" | svgContents }}
    </div>

    <div class="icon-name">cloud</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#cloud-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/code.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="code-solid">
      {{ "/icons/solid/code.svg" | svgContents }}
    </div>

    <div class="icon-name">code</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#code-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/cog.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cog-solid">
      {{ "/icons/solid/cog.svg" | svgContents }}
    </div>

    <div class="icon-name">cog</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#cog-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/collection.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="collection-solid">
      {{ "/icons/solid/collection.svg" | svgContents }}
    </div>

    <div class="icon-name">collection</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#collection-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/color-swatch.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="color-swatch-solid">
      {{ "/icons/solid/color-swatch.svg" | svgContents }}
    </div>

    <div class="icon-name">color-swatch</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#color-swatch-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/compass.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="compass-solid">
      {{ "/icons/solid/compass.svg" | svgContents }}
    </div>

    <div class="icon-name">compass</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#compass-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/contact.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="contact-solid">
      {{ "/icons/solid/contact.svg" | svgContents }}
    </div>

    <div class="icon-name">contact</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#contact-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/credit-card.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="credit-card-solid">
      {{ "/icons/solid/credit-card.svg" | svgContents }}
    </div>

    <div class="icon-name">credit-card</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#credit-card-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/cube.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cube-solid">
      {{ "/icons/solid/cube.svg" | svgContents }}
    </div>

    <div class="icon-name">cube</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#cube-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/cursor-click.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="cursor-click-solid">
      {{ "/icons/solid/cursor-click.svg" | svgContents }}
    </div>

    <div class="icon-name">cursor-click</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#cursor-click-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/dashboard.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="dashboard-solid">
      {{ "/icons/solid/dashboard.svg" | svgContents }}
    </div>

    <div class="icon-name">dashboard</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#dashboard-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/database.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="database-solid">
      {{ "/icons/solid/database.svg" | svgContents }}
    </div>

    <div class="icon-name">database</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#database-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/desktop-computer.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="desktop-computer-solid">
      {{ "/icons/solid/desktop-computer.svg" | svgContents }}
    </div>

    <div class="icon-name">desktop-computer</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#desktop-computer-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/device-mobile.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="device-mobile-solid">
      {{ "/icons/solid/device-mobile.svg" | svgContents }}
    </div>

    <div class="icon-name">device-mobile</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#device-mobile-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/device-tablet.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="device-tablet-solid">
      {{ "/icons/solid/device-tablet.svg" | svgContents }}
    </div>

    <div class="icon-name">device-tablet</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#device-tablet-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/dots-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="dots-circle-solid">
      {{ "/icons/solid/dots-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">dots-circle</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#dots-circle-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/dots-horizontal.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="dots-horizontal-solid">
      {{ "/icons/solid/dots-horizontal.svg" | svgContents }}
    </div>

    <div class="icon-name">dots-horizontal</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#dots-horizontal-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/dots-vertical.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="dots-vertical-solid">
      {{ "/icons/solid/dots-vertical.svg" | svgContents }}
    </div>

    <div class="icon-name">dots-vertical</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#dots-vertical-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/duplicate.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="duplicate-solid">
      {{ "/icons/solid/duplicate.svg" | svgContents }}
    </div>

    <div class="icon-name">duplicate</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#duplicate-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/emoji-happy.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="emoji-happy-solid">
      {{ "/icons/solid/emoji-happy.svg" | svgContents }}
    </div>

    <div class="icon-name">emoji-happy</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#emoji-happy-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/emoji-sad.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="emoji-sad-solid">
      {{ "/icons/solid/emoji-sad.svg" | svgContents }}
    </div>

    <div class="icon-name">emoji-sad</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#emoji-sad-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/exclamation-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="exclamation-circle-solid">
      {{ "/icons/solid/exclamation-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">exclamation-circle</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#exclamation-circle-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/exclamation.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="exclamation-solid">
      {{ "/icons/solid/exclamation.svg" | svgContents }}
    </div>

    <div class="icon-name">exclamation</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#exclamation-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/external-link.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="external-link-solid">
      {{ "/icons/solid/external-link.svg" | svgContents }}
    </div>

    <div class="icon-name">external-link</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#external-link-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/eye-off.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="eye-off-solid">
      {{ "/icons/solid/eye-off.svg" | svgContents }}
    </div>

    <div class="icon-name">eye-off</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#eye-off-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/eye.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="eye-solid">
      {{ "/icons/solid/eye.svg" | svgContents }}
    </div>

    <div class="icon-name">eye</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#eye-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/fast-forward.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="fast-forward-solid">
      {{ "/icons/solid/fast-forward.svg" | svgContents }}
    </div>

    <div class="icon-name">fast-forward</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#fast-forward-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/file-add.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-add-solid">
      {{ "/icons/solid/file-add.svg" | svgContents }}
    </div>

    <div class="icon-name">file-add</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#file-add-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/file-download.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-download-solid">
      {{ "/icons/solid/file-download.svg" | svgContents }}
    </div>

    <div class="icon-name">file-download</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#file-download-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/file-duplicate.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-duplicate-solid">
      {{ "/icons/solid/file-duplicate.svg" | svgContents }}
    </div>

    <div class="icon-name">file-duplicate</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#file-duplicate-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/file-remove.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-remove-solid">
      {{ "/icons/solid/file-remove.svg" | svgContents }}
    </div>

    <div class="icon-name">file-remove</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#file-remove-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/file-report.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-report-solid">
      {{ "/icons/solid/file-report.svg" | svgContents }}
    </div>

    <div class="icon-name">file-report</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#file-report-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/file-search.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-search-solid">
      {{ "/icons/solid/file-search.svg" | svgContents }}
    </div>

    <div class="icon-name">file-search</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#file-search-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/file-text.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-text-solid">
      {{ "/icons/solid/file-text.svg" | svgContents }}
    </div>

    <div class="icon-name">file-text</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#file-text-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/file.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="file-solid">
      {{ "/icons/solid/file.svg" | svgContents }}
    </div>

    <div class="icon-name">file</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#file-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/film.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="film-solid">
      {{ "/icons/solid/film.svg" | svgContents }}
    </div>

    <div class="icon-name">film</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#film-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/filter.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="filter-solid">
      {{ "/icons/solid/filter.svg" | svgContents }}
    </div>

    <div class="icon-name">filter</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#filter-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/fire.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="fire-solid">
      {{ "/icons/solid/fire.svg" | svgContents }}
    </div>

    <div class="icon-name">fire</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#fire-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/flag.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="flag-solid">
      {{ "/icons/solid/flag.svg" | svgContents }}
    </div>

    <div class="icon-name">flag</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#flag-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/folder-add.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="folder-add-solid">
      {{ "/icons/solid/folder-add.svg" | svgContents }}
    </div>

    <div class="icon-name">folder-add</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#folder-add-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/folder-download.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="folder-download-solid">
      {{ "/icons/solid/folder-download.svg" | svgContents }}
    </div>

    <div class="icon-name">folder-download</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#folder-download-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/folder-open.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="folder-open-solid">
      {{ "/icons/solid/folder-open.svg" | svgContents }}
    </div>

    <div class="icon-name">folder-open</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#folder-open-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/folder-remove.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="folder-remove-solid">
      {{ "/icons/solid/folder-remove.svg" | svgContents }}
    </div>

    <div class="icon-name">folder-remove</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#folder-remove-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/folder.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="folder-solid">
      {{ "/icons/solid/folder.svg" | svgContents }}
    </div>

    <div class="icon-name">folder</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#folder-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/forward.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="forward-solid">
      {{ "/icons/solid/forward.svg" | svgContents }}
    </div>

    <div class="icon-name">forward</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#forward-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/ghost.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="ghost-solid">
      {{ "/icons/solid/ghost.svg" | svgContents }}
    </div>

    <div class="icon-name">ghost</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#ghost-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/globe.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="globe-solid">
      {{ "/icons/solid/globe.svg" | svgContents }}
    </div>

    <div class="icon-name">globe</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#globe-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/hand.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="hand-solid">
      {{ "/icons/solid/hand.svg" | svgContents }}
    </div>

    <div class="icon-name">hand</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#hand-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/hashtag.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="hashtag-solid">
      {{ "/icons/solid/hashtag.svg" | svgContents }}
    </div>

    <div class="icon-name">hashtag</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#hashtag-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/heart.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="heart-solid">
      {{ "/icons/solid/heart.svg" | svgContents }}
    </div>

    <div class="icon-name">heart</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#heart-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/home.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="home-solid">
      {{ "/icons/solid/home.svg" | svgContents }}
    </div>

    <div class="icon-name">home</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#home-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/image.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="image-solid">
      {{ "/icons/solid/image.svg" | svgContents }}
    </div>

    <div class="icon-name">image</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#image-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/inbox-in.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="inbox-in-solid">
      {{ "/icons/solid/inbox-in.svg" | svgContents }}
    </div>

    <div class="icon-name">inbox-in</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#inbox-in-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/inbox.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="inbox-solid">
      {{ "/icons/solid/inbox.svg" | svgContents }}
    </div>

    <div class="icon-name">inbox</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#inbox-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/information-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="information-circle-solid">
      {{ "/icons/solid/information-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">information-circle</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#information-circle-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/key.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="key-solid">
      {{ "/icons/solid/key.svg" | svgContents }}
    </div>

    <div class="icon-name">key</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#key-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/library.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="library-solid">
      {{ "/icons/solid/library.svg" | svgContents }}
    </div>

    <div class="icon-name">library</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#library-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/light-bulb.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="light-bulb-solid">
      {{ "/icons/solid/light-bulb.svg" | svgContents }}
    </div>

    <div class="icon-name">light-bulb</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#light-bulb-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/lightning-bolt.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="lightning-bolt-solid">
      {{ "/icons/solid/lightning-bolt.svg" | svgContents }}
    </div>

    <div class="icon-name">lightning-bolt</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#lightning-bolt-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/link.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="link-solid">
      {{ "/icons/solid/link.svg" | svgContents }}
    </div>

    <div class="icon-name">link</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#link-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/location-marker.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="location-marker-solid">
      {{ "/icons/solid/location-marker.svg" | svgContents }}
    </div>

    <div class="icon-name">location-marker</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#location-marker-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/lock-closed.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="lock-closed-solid">
      {{ "/icons/solid/lock-closed.svg" | svgContents }}
    </div>

    <div class="icon-name">lock-closed</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#lock-closed-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/lock-open.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="lock-open-solid">
      {{ "/icons/solid/lock-open.svg" | svgContents }}
    </div>

    <div class="icon-name">lock-open</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#lock-open-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/login.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="login-solid">
      {{ "/icons/solid/login.svg" | svgContents }}
    </div>

    <div class="icon-name">login</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#login-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/logout.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="logout-solid">
      {{ "/icons/solid/logout.svg" | svgContents }}
    </div>

    <div class="icon-name">logout</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#logout-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/mail-open.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="mail-open-solid">
      {{ "/icons/solid/mail-open.svg" | svgContents }}
    </div>

    <div class="icon-name">mail-open</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#mail-open-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/mail.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="mail-solid">
      {{ "/icons/solid/mail.svg" | svgContents }}
    </div>

    <div class="icon-name">mail</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#mail-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/map.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="map-solid">
      {{ "/icons/solid/map.svg" | svgContents }}
    </div>

    <div class="icon-name">map</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#map-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/menu-alt.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="menu-alt-solid">
      {{ "/icons/solid/menu-alt.svg" | svgContents }}
    </div>

    <div class="icon-name">menu-alt</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#menu-alt-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/menu.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="menu-solid">
      {{ "/icons/solid/menu.svg" | svgContents }}
    </div>

    <div class="icon-name">menu</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#menu-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/message.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="message-solid">
      {{ "/icons/solid/message.svg" | svgContents }}
    </div>

    <div class="icon-name">message</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#message-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/messages.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="messages-solid">
      {{ "/icons/solid/messages.svg" | svgContents }}
    </div>

    <div class="icon-name">messages</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#messages-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/microphone.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="microphone-solid">
      {{ "/icons/solid/microphone.svg" | svgContents }}
    </div>

    <div class="icon-name">microphone</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#microphone-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/minus-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="minus-circle-solid">
      {{ "/icons/solid/minus-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">minus-circle</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#minus-circle-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/minus.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="minus-solid">
      {{ "/icons/solid/minus.svg" | svgContents }}
    </div>

    <div class="icon-name">minus</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#minus-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/moon.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="moon-solid">
      {{ "/icons/solid/moon.svg" | svgContents }}
    </div>

    <div class="icon-name">moon</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#moon-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/music-note.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="music-note-solid">
      {{ "/icons/solid/music-note.svg" | svgContents }}
    </div>

    <div class="icon-name">music-note</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#music-note-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/newspaper.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="newspaper-solid">
      {{ "/icons/solid/newspaper.svg" | svgContents }}
    </div>

    <div class="icon-name">newspaper</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#newspaper-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/paper-airplane.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="paper-airplane-solid">
      {{ "/icons/solid/paper-airplane.svg" | svgContents }}
    </div>

    <div class="icon-name">paper-airplane</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#paper-airplane-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/paper-clip.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="paper-clip-solid">
      {{ "/icons/solid/paper-clip.svg" | svgContents }}
    </div>

    <div class="icon-name">paper-clip</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#paper-clip-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/pause.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="pause-solid">
      {{ "/icons/solid/pause.svg" | svgContents }}
    </div>

    <div class="icon-name">pause</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#pause-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/pencil-alt.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="pencil-alt-solid">
      {{ "/icons/solid/pencil-alt.svg" | svgContents }}
    </div>

    <div class="icon-name">pencil-alt</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#pencil-alt-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/pencil.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="pencil-solid">
      {{ "/icons/solid/pencil.svg" | svgContents }}
    </div>

    <div class="icon-name">pencil</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#pencil-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/phone-incoming.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="phone-incoming-solid">
      {{ "/icons/solid/phone-incoming.svg" | svgContents }}
    </div>

    <div class="icon-name">phone-incoming</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#phone-incoming-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/phone-missed-call.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="phone-missed-call-solid">
      {{ "/icons/solid/phone-missed-call.svg" | svgContents }}
    </div>

    <div class="icon-name">phone-missed-call</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#phone-missed-call-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/phone-outgoing.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="phone-outgoing-solid">
      {{ "/icons/solid/phone-outgoing.svg" | svgContents }}
    </div>

    <div class="icon-name">phone-outgoing</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#phone-outgoing-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/phone.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="phone-solid">
      {{ "/icons/solid/phone.svg" | svgContents }}
    </div>

    <div class="icon-name">phone</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#phone-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/play-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="play-circle-solid">
      {{ "/icons/solid/play-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">play-circle</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#play-circle-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/plus-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="plus-circle-solid">
      {{ "/icons/solid/plus-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">plus-circle</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#plus-circle-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/plus.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="plus-solid">
      {{ "/icons/solid/plus.svg" | svgContents }}
    </div>

    <div class="icon-name">plus</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#plus-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/presentation-line.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="presentation-line-solid">
      {{ "/icons/solid/presentation-line.svg" | svgContents }}
    </div>

    <div class="icon-name">presentation-line</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#presentation-line-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/presentation-report.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="presentation-report-solid">
      {{ "/icons/solid/presentation-report.svg" | svgContents }}
    </div>

    <div class="icon-name">presentation-report</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#presentation-report-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/printer.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="printer-solid">
      {{ "/icons/solid/printer.svg" | svgContents }}
    </div>

    <div class="icon-name">printer</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#printer-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/puzzle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="puzzle-solid">
      {{ "/icons/solid/puzzle.svg" | svgContents }}
    </div>

    <div class="icon-name">puzzle</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#puzzle-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/qrcode.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="qrcode-solid">
      {{ "/icons/solid/qrcode.svg" | svgContents }}
    </div>

    <div class="icon-name">qrcode</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#qrcode-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/question-mark-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="question-mark-circle-solid">
      {{ "/icons/solid/question-mark-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">question-mark-circle</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#question-mark-circle-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/receipt-refund.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="receipt-refund-solid">
      {{ "/icons/solid/receipt-refund.svg" | svgContents }}
    </div>

    <div class="icon-name">receipt-refund</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#receipt-refund-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/receipt-text.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="receipt-text-solid">
      {{ "/icons/solid/receipt-text.svg" | svgContents }}
    </div>

    <div class="icon-name">receipt-text</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#receipt-text-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/receipt.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="receipt-solid">
      {{ "/icons/solid/receipt.svg" | svgContents }}
    </div>

    <div class="icon-name">receipt</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#receipt-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/refresh.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="refresh-solid">
      {{ "/icons/solid/refresh.svg" | svgContents }}
    </div>

    <div class="icon-name">refresh</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#refresh-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/reply-all.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="reply-all-solid">
      {{ "/icons/solid/reply-all.svg" | svgContents }}
    </div>

    <div class="icon-name">reply-all</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#reply-all-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/reply.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="reply-solid">
      {{ "/icons/solid/reply.svg" | svgContents }}
    </div>

    <div class="icon-name">reply</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#reply-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/rewind.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="rewind-solid">
      {{ "/icons/solid/rewind.svg" | svgContents }}
    </div>

    <div class="icon-name">rewind</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#rewind-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/rss.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="rss-solid">
      {{ "/icons/solid/rss.svg" | svgContents }}
    </div>

    <div class="icon-name">rss</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#rss-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/save-alt.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="save-alt-solid">
      {{ "/icons/solid/save-alt.svg" | svgContents }}
    </div>

    <div class="icon-name">save-alt</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#save-alt-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/save-as.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="save-as-solid">
      {{ "/icons/solid/save-as.svg" | svgContents }}
    </div>

    <div class="icon-name">save-as</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#save-as-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/save.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="save-solid">
      {{ "/icons/solid/save.svg" | svgContents }}
    </div>

    <div class="icon-name">save</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#save-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/scissors.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="scissors-solid">
      {{ "/icons/solid/scissors.svg" | svgContents }}
    </div>

    <div class="icon-name">scissors</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#scissors-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/scroll.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="scroll-solid">
      {{ "/icons/solid/scroll.svg" | svgContents }}
    </div>

    <div class="icon-name">scroll</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#scroll-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/search-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="search-circle-solid">
      {{ "/icons/solid/search-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">search-circle</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#search-circle-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/search-text.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="search-text-solid">
      {{ "/icons/solid/search-text.svg" | svgContents }}
    </div>

    <div class="icon-name">search-text</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#search-text-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/search.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="search-solid">
      {{ "/icons/solid/search.svg" | svgContents }}
    </div>

    <div class="icon-name">search</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#search-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/selector.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="selector-solid">
      {{ "/icons/solid/selector.svg" | svgContents }}
    </div>

    <div class="icon-name">selector</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#selector-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/server.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="server-solid">
      {{ "/icons/solid/server.svg" | svgContents }}
    </div>

    <div class="icon-name">server</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#server-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/share.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="share-solid">
      {{ "/icons/solid/share.svg" | svgContents }}
    </div>

    <div class="icon-name">share</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#share-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/shield-check.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="shield-check-solid">
      {{ "/icons/solid/shield-check.svg" | svgContents }}
    </div>

    <div class="icon-name">shield-check</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#shield-check-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/shield-exclamation.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="shield-exclamation-solid">
      {{ "/icons/solid/shield-exclamation.svg" | svgContents }}
    </div>

    <div class="icon-name">shield-exclamation</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#shield-exclamation-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/shopping-bag.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="shopping-bag-solid">
      {{ "/icons/solid/shopping-bag.svg" | svgContents }}
    </div>

    <div class="icon-name">shopping-bag</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#shopping-bag-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/shopping-cart.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="shopping-cart-solid">
      {{ "/icons/solid/shopping-cart.svg" | svgContents }}
    </div>

    <div class="icon-name">shopping-cart</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#shopping-cart-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/sort-horizontal.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="sort-horizontal-solid">
      {{ "/icons/solid/sort-horizontal.svg" | svgContents }}
    </div>

    <div class="icon-name">sort-horizontal</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#sort-horizontal-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/sort-vertical.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="sort-vertical-solid">
      {{ "/icons/solid/sort-vertical.svg" | svgContents }}
    </div>

    <div class="icon-name">sort-vertical</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#sort-vertical-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/sound-off.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="sound-off-solid">
      {{ "/icons/solid/sound-off.svg" | svgContents }}
    </div>

    <div class="icon-name">sound-off</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#sound-off-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/sound-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="sound-up-solid">
      {{ "/icons/solid/sound-up.svg" | svgContents }}
    </div>

    <div class="icon-name">sound-up</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#sound-up-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/sparkles.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="sparkles-solid">
      {{ "/icons/solid/sparkles.svg" | svgContents }}
    </div>

    <div class="icon-name">sparkles</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#sparkles-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/speakerphone.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="speakerphone-solid">
      {{ "/icons/solid/speakerphone.svg" | svgContents }}
    </div>

    <div class="icon-name">speakerphone</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#speakerphone-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/star.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="star-solid">
      {{ "/icons/solid/star.svg" | svgContents }}
    </div>

    <div class="icon-name">star</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#star-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/status-offline.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="status-offline-solid">
      {{ "/icons/solid/status-offline.svg" | svgContents }}
    </div>

    <div class="icon-name">status-offline</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#status-offline-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/status-online.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="status-online-solid">
      {{ "/icons/solid/status-online.svg" | svgContents }}
    </div>

    <div class="icon-name">status-online</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#status-online-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/stop-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="stop-circle-solid">
      {{ "/icons/solid/stop-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">stop-circle</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#stop-circle-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/sun.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="sun-solid">
      {{ "/icons/solid/sun.svg" | svgContents }}
    </div>

    <div class="icon-name">sun</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#sun-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/support.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="support-solid">
      {{ "/icons/solid/support.svg" | svgContents }}
    </div>

    <div class="icon-name">support</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#support-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/table.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="table-solid">
      {{ "/icons/solid/table.svg" | svgContents }}
    </div>

    <div class="icon-name">table</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#table-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/tag.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="tag-solid">
      {{ "/icons/solid/tag.svg" | svgContents }}
    </div>

    <div class="icon-name">tag</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#tag-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/terminal.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="terminal-solid">
      {{ "/icons/solid/terminal.svg" | svgContents }}
    </div>

    <div class="icon-name">terminal</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#terminal-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/thumb-down.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="thumb-down-solid">
      {{ "/icons/solid/thumb-down.svg" | svgContents }}
    </div>

    <div class="icon-name">thumb-down</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#thumb-down-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/thumb-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="thumb-up-solid">
      {{ "/icons/solid/thumb-up.svg" | svgContents }}
    </div>

    <div class="icon-name">thumb-up</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#thumb-up-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/ticket.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="ticket-solid">
      {{ "/icons/solid/ticket.svg" | svgContents }}
    </div>

    <div class="icon-name">ticket</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#ticket-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/translate.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="translate-solid">
      {{ "/icons/solid/translate.svg" | svgContents }}
    </div>

    <div class="icon-name">translate</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#translate-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/trash.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="trash-solid">
      {{ "/icons/solid/trash.svg" | svgContents }}
    </div>

    <div class="icon-name">trash</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#trash-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/trending-down.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="trending-down-solid">
      {{ "/icons/solid/trending-down.svg" | svgContents }}
    </div>

    <div class="icon-name">trending-down</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#trending-down-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/trending-up.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="trending-up-solid">
      {{ "/icons/solid/trending-up.svg" | svgContents }}
    </div>

    <div class="icon-name">trending-up</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#trending-up-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/truck.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="truck-solid">
      {{ "/icons/solid/truck.svg" | svgContents }}
    </div>

    <div class="icon-name">truck</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#truck-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/user-add.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="user-add-solid">
      {{ "/icons/solid/user-add.svg" | svgContents }}
    </div>

    <div class="icon-name">user-add</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#user-add-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/user-circle.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="user-circle-solid">
      {{ "/icons/solid/user-circle.svg" | svgContents }}
    </div>

    <div class="icon-name">user-circle</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#user-circle-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/user-group.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="user-group relative-solid">
      {{ "/icons/solid/user-group.svg" | svgContents }}
    </div>

    <div class="icon-name">user-group</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#user-group-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/user-remove.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="user-remove-solid">
      {{ "/icons/solid/user-remove.svg" | svgContents }}
    </div>

    <div class="icon-name">user-remove</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#user-remove-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/user.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="user-solid">
      {{ "/icons/solid/user.svg" | svgContents }}
    </div>

    <div class="icon-name">user</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#user-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/users.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="users-solid">
      {{ "/icons/solid/users.svg" | svgContents }}
    </div>

    <div class="icon-name">users</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#users-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/video-camera.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="video-camera-solid">
      {{ "/icons/solid/video-camera.svg" | svgContents }}
    </div>

    <div class="icon-name">video-camera</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#video-camera-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/view-boards.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="view-boards-solid">
      {{ "/icons/solid/view-boards.svg" | svgContents }}
    </div>

    <div class="icon-name">view-boards</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#view-boards-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/view-grid.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="view-grid-solid">
      {{ "/icons/solid/view-grid.svg" | svgContents }}
    </div>

    <div class="icon-name">view-grid</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#view-grid-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/view-list.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="view-list-solid">
      {{ "/icons/solid/view-list.svg" | svgContents }}
    </div>

    <div class="icon-name">view-list</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#view-list-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/wifi.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="wifi-solid">
      {{ "/icons/solid/wifi.svg" | svgContents }}
    </div>

    <div class="icon-name">wifi</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#wifi-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/zoom-in.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="zoom-in-solid">
      {{ "/icons/solid/zoom-in.svg" | svgContents }}
    </div>

    <div class="icon-name">zoom-in</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#zoom-in-solid"
    >
      Copy SVG
    </div>
  </div>
  <div class="icon-container">
    <div class="mb-5">
      {{ "/icons/solid/zoom-out.svg" | svgContents("icon") | safe }}
    </div>
    <div class="icon-code" id="zoom-out-solid">
      {{ "/icons/solid/zoom-out.svg" | svgContents }}
    </div>

    <div class="icon-name">zoom-out</div>
    <div
      class="icon-copy-trigger group-hover:opacity-100"
      data-clipboard-target="#zoom-out-solid"
    >
      Copy SVG
    </div>
  </div>
</div>
