@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .white {
    color: white;
  }
}

a[href^="http"] {
  word-break: break-all;
}

img.lazy {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.icon-wrapper {
  @apply grid gap-1 md:gap-4 text-center text-xs leading-4 col-start-1 row-start-2 text-primary-800 dark:text-primary-300;
}

.icon-container {
  @apply bg-white dark:bg-primary-800 inline-flex rounded-lg flex-col items-center group p-4 cursor-pointer transition-all;
}

.icon {
  @apply w-6 h-6;
}

.icon-code {
  @apply sr-only;
}

.icon-name {
  @apply truncate overflow-ellipsis;
}

.icon-name .name {
  @apply block;
}

.icon-name .copy {
  @apply hidden font-bold;
}

/* .copy-button {
  @apply bg-primary-700 text-white py-1 px-6 -mt-6 border-0 hover:bg-primary-900 opacity-0;
}*/
